@import '../../common/styles/variables.css';

.root {
	border: 1px solid var(--dojo-shade-gray);
	max-width: 100%;
	padding: var(--input-padding);
}

.root:focus {
	border-color: var(--dojo-light-blue);
	box-shadow: var(--input-focus-shadow);
	outline: none;
}

.inputWrapper { }

.label {
	font: var(--base-font);
}

.label span {
	display: block;
	margin: var(--line-spacing) 0;
}

.disabled .root,
.readonly .root {
	background-color: var(--dojo-off-white);
	color: var(--dojo-shade-gray);
}

/* TODO: better required styles */
.required .root {
	border-left-width: 8px;
}

/* TODO: this needs non-color design as well */
.invalid .root {
	border-color: var(--dojo-error-color);
}

.valid .root {
	border-color: var(--dojo-success-color);
}
