@import './variables.css';

.root {
	background-color: var(--button-bg);
	border: 1px solid var(--button-bg);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
	border-radius: var(--rounded-corners);
	color: var(--button-color);
	cursor: pointer;
	font: var(--base-font);
	font-weight: bold;
	display: inline-block;
	padding: var(--button-padding);
	transition: all var(--short-animation-duration) ease;
}

.root:hover,
.root:focus {
	background-color: var(--button-hover-bg);
	border-color: var(--button-hover-bg);
	outline: none;
}

.pressed::before {
	border-bottom: 2px solid var(--button-color);
	border-right: 2px solid var(--button-color);
	box-sizing: border-box;
	content: '';
	display: inline-block;
	height: 1em;
	margin: -1em 0.5em 0 0;
	transform: rotate(45deg);
	width: 0.5em;
}

.popup::after {
	border-bottom: 2px solid var(--button-color);
	border-right: 2px solid var(--button-color);
	box-sizing: border-box;
	content: '';
	display: inline-block;
	height: 0.6em;
	margin-left: 0.6em;
	transform: translate(0, -35%) rotate(45deg);
	width: 0.6em;
}

.disabled,
.disabled:hover {
	background-color: var(--button-disabled-bg);
	border-color: var(--button-disabled-bg);
	cursor: default;
}
