@import './variables.css';

.root {
	background-color: var(--dojo-white);
	border: 1px solid var(--dojo-blue);
	color: var(--dojo-blue);
	cursor: pointer;
	display: inline-block;
	font-size: var(--base-font-size);
	font-weight: bold;
	line-height: var(--base-line-height);
	min-width: calc(var(--grid-base) * 20);
	padding: var(--grid-base);
	transition: background var(--transition-duration) var(--transition-easing) color var(--transition-duration) var(--transition-easing);
}

.root:hover,
.root:focus {
	background-color: var(--dojo-blue);
	color: var(--dojo-white);
	outline: none;
}

.pressed {
	background-color: var(--dojo-blue);
	color: var(--dojo-white);
}

.pressed:hover,
.pressed:focus {
	background-color: var(--dojo-white);
	color: var(--dojo-blue);
}

.popup::after {
	border-bottom: 2px solid var(--button-color);
	border-right: 2px solid var(--button-color);
	box-sizing: border-box;
	content: '';
	display: inline-block;
	height: 0.6em;
	margin-left: 0.6em;
	transform: translate(0, -35%) rotate(45deg);
	width: 0.6em;
}

.disabled,
.disabled:hover {
	background-color: var(--dojo-light-gray);
	border-color: var(--dojo-light-gray);
	cursor: default;
}
