@import '../../common/styles/variables.css';
@import './variables.css';

.root,
.root *,
.root *::before,
.root *::after {
	box-sizing: border-box;
}

.root {
	border: var(--border-width) solid var(--color-border);
	display: inline-block;
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
}

/* Date grid */
.weekday, .date {
	text-align: center;
	width: 14.28%;
}

.weekday {
	background-color: var(--color-background-faded);
	border-bottom: var(--border-width) solid var(--color-border);
	color: var(--color-text-faded);
	font-weight: normal;
	padding: 0 calc(var(--grid-base) / 2);
	text-align: center;
	font-size: var(--font-size-small);
	text-transform: uppercase;
}

.weekday abbr {
	text-decoration: none;
}

.date {
	color: var(--color-text-faded);
	cursor: pointer;
	font-weight: bold;
	outline: var(--border-width) solid transparent;
	padding: var(--grid-base);
	transition: all var(--transition-duration) var(--transition-easing);
}

.todayDate {
	background-color: var(--color-background-faded);
}

.date:focus,
.date:hover {
	color: var(--color-highlight);
	outline: var(--border-width) solid var(--color-border);
}

.inactiveDate {
	color: var(--color-border);
}

.selectedDate {
	background-color: var(--color-highlight);
	color: var(--color-text-inverted);
}

.selectedDate:focus,
.selectedDate:hover {
	background-color: var(--color-background);
	color: var(--color-highlight);
	outline: var(--border-width) solid var(--color-highlight);
}








































._topMatter {
	display: flex;
	background: var(--color-background-faded);
	border-bottom: var(--border-width) solid var(--color-border);
}

._monthTrigger,
._yearTrigger,
._previousMonth,
._nextMonth {
	background: 0;
	border: 0;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	line-height: inherit;
	outline: none;
}

._monthTrigger,
._yearTrigger {
	color: var(--color-text-primary);
	flex: 0;
	font-size: var(--font-size-small);
	padding: var(--grid-base);
	text-transform: uppercase;
	border: var(--border-width) solid transparent;
}

._monthTrigger:focus,
._yearTrigger:focus {
	border-color: var(--color-highlight);
}

._monthTriggerActive,
._yearTriggerActive {
	border-color: transparent;
	border-bottom-color: var(--color-highlight);
	color: var(--color-highlight);
}

._controls {
	flex: 1;
	text-align: right;
}

._previousMonth,
._nextMonth {
	color: var(--color-text-faded);
	font-size: var(--font-size-icon);
	line-height: 1;
	padding: calc(var(--grid-base) - 1px);
}
