@import './variables.css';

.root {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: var(--form-field-width);
}

.root * {
	box-sizing: border-box;
}

.controls {
	position: relative;
}

.input {
	width: 100%;
	padding-right: 2em;
}

.input::-ms-clear {
	display: none;
}

.clearable {
	padding-right: 4em;
}

.results {
	position: absolute;
	width: 100%;
	max-height: var(--select-menu-height);
	overflow-y: auto;
	background: var(--dojo-white);
	border: var(--border-thin) solid var(--dojo-shade-gray);
	z-index: 1;
}

.result {
	cursor: pointer;
	padding: var(--input-padding);
}

.disabledResult {
	color: var(--dojo-gray);
	font-style: italic;
	cursor: default;
}

.selectedResult {
	background: var(--dojo-blue);
	color: var(--dojo-white);
}
