@import './variables.css';

.root {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: var(--form-field-width);
}

.root * {
	box-sizing: border-box;
}

.controls {
	position: relative;
}

.input {
	width: 100%;
	padding-right: 2em;
}

.input::-ms-clear {
	display: none;
}

.clearable {
	padding-right: 4em;
}

.results {
	position: absolute;
	width: 100%;
	max-height: var(--select-menu-height);
	overflow-y: auto;
	background: var(--dojo-white);
	border: var(--border-thin) solid var(--dojo-shade-gray);
	z-index: 1;
}

.result {
	cursor: pointer;
	padding: var(--input-padding);
}

.disabledResult {
	color: var(--dojo-gray);
	font-style: italic;
	cursor: default;
}

.selectedResult {
	background: var(--dojo-blue);
	color: var(--dojo-white);
}

.clear,
.arrow {
	position: absolute;
	cursor: pointer;
	font-size: 0;
	border: none;
	background: none;
	outline: none;
	top: 50%;
	transform: translateY(-50%);
	padding: 0;
}

.clear:focus,
.arrow:focus {
	box-shadow: var(--input-focus-shadow);
}

.arrow {
	right: 7px;
}

.clear {
	right: 27px;
}

.arrow:after {
	content: '▼';
	display: block;
	font-size: var(--input-font-size);
}

.clear:after {
	content: '✕';
	display: block;
	font-size: var(--input-font-size);
}
