@import './variables.css';

.root,
.root * {
	box-sizing: border-box;
}

.main {
	background: #FFF;
	border: var(--border-thin) solid var(--border-color);
	box-shadow: var(--drop-shadow);
	display: flex;
	flex-direction: column;
	font-size: var(--base-font-size);
	height: calc(75 * var(--grid-size));
	left: 50%;
	line-height: var(--base-line-height);
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: calc(80 * var(--grid-size));
}

.underlayVisible {
	background-color: var(--underlay-bg);
}

.title {
	border-bottom: var(--border-thin) solid var(--border-color);
	box-sizing: border-box;
	flex: 0 0 auto;
	font-size: var(--header-font-size);
	height: calc(7 * var(--grid-size));
	line-height: var(--header-line-height);
	padding: calc(2 * var(--grid-size));
	position: relative;
	text-align: left;
}

.content {
	flex: 1 1 auto;
	overflow: auto;
	padding: calc(2 * var(--grid-size));
}

.close {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 0;
	padding: var(--grid-size);
	position: absolute;
	right: calc(2 * var(--grid-size));
	top: 50%;
	transform: translateY(-50%);
}

.close:after {
	content: '✕';
	display: block;
	font-size: var(--header-font-size);
}
