@import './variables.css';

.main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #FFF;
	width: 450px;
	min-height: var(--min-container-height);
	overflow: hidden;
	max-width: calc(100% - 30px);
	font: var(--base-font);
	box-shadow: var(--subtle-shadow);
	border-radius: var(--rounded-corners);
}

.underlay {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
}

.underlayVisible {
	background: var(--underlay-bg);
}

.title {
	position: relative;
	background-color: var(--title-bar-bg);
	font-size: var(--title-bar-font-size);
	color: var(--title-bar-color);
	padding: var(--container-padding);
}

.content {
	padding: var(--container-padding);
}

.close {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 35px;
	cursor: pointer;
	font-size: 0;
	border: none;
	background: none;
	outline: none;
	color: var(--title-bar-color);
}

.close:after {
	content: '✕';
	display: block;
	font-size: var(--title-bar-font-size);
}
