@import './variables.css';

.root, .root * { box-sizing: border-box; }

.root {
	display: block;
	min-height: var(--line-height-base);
	padding: 0 0 0 calc(var(--grid-base) * 3);
	position: relative;
}

.root span {
	color: var(--color-text-faded);
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
	transition: color var(--transition-duration) var(--transition-easing);
}

.input {
	appearance: none;
	height: 100%;
	left: 0;
	margin: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.input:focus {
	outline: none;
}

.inputWrapper {
	left: 0;
	position: absolute;
	top: calc(var(--grid-base) / 2);
}

.inputWrapper::before,
.inputWrapper::after {
	border-radius: 50%;
	box-sizing: border-box;
	content: '';
	display: block;
	transition: all var(--transition-duration) var(--transition-easing);
}

.inputWrapper::before {
	background-color: var(--color-background);
	border: var(--border-width) solid var(--color-border-strong);
	height: calc(var(--grid-base) * 2);
	width: calc(var(--grid-base) * 2);
}

.inputWrapper::after {
	background-color: var(--color-border-strong);
	height: var(--grid-base);
	left: calc(var(--grid-base) / 2);
	position: absolute;
	top: calc(var(--grid-base) / 2);
	transform: scale(0);
	width: var(--grid-base);
}

/* focus styles */
.focused span {
	color: var(--color-highlight);
}

.focused .inputWrapper:before {
	border: var(--border-width-emphasized) solid var(--color-highlight);
	box-shadow: var(--box-shadow-dimensions-small) color(var(--color-highlight) alpha(20%));
}

.focused .inputWrapper:after {
	background-color: var(--color-highlight);
}

/* checked style */
.checked .inputWrapper::after {
	transform: scale(1);
}

/* disabled and readonly styles */
.disabled .inputWrapper::before,
.readonly .inputWrapper::before {
	border-color: var(--color-border);
	background-color: var(--color-background-faded);
}

/* required style, only applies to inputs with a label */
.required span::after {
	content: '*';
}

/* invalid style */
.invalid .inputWrapper::before {
	border-color: var(--color-error);
}
.invalid .inputWrapper::after {
	background-color: var(--color-error);
}

/* valid style */
.valid .inputWrapper::before {
	border-color: var(--color-success);
}
.valid .inputWrapper::after {
	background-color: var(--color-success);
}
