@import './variables.css';

.root, .root * { box-sizing: border-box; }

.root {
	font-size: var(--font-size-base);
}

.inputWrapper {
	display: inline-block;
	perspective: 300px;
	position: relative;
}

/* custom input styles */
.trigger {
	background-color: transparent;
	border: var(--border-width) solid var(--color-border);
	border-bottom-color: var(--color-border-strong);
	font-size: inherit;
	line-height: var(--line-height-base);
	min-width: 200px;
	outline: none;
	padding: var(--spacing-regular) calc(var(--spacing-regular) * 3) var(--spacing-regular) var(--spacing-regular);
	position: relative;
	text-align: left;
}

.trigger:focus {
	border-color: var(--color-highlight);
	box-shadow: var(--box-shadow-dimensions-small) color(var(--color-highlight) alpha(20%));
}

.arrow {
	border-left: var(--border-width) solid var(--color-border);
	bottom: var(--border-width);
	color: var(--color-text-faded);
	font-size: var(--font-size-icon);
	line-height: var(--line-height-base);
	padding: var(--spacing-regular);
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
}

.dropdown {
	border: var(--border-width) solid var(--color-border);
	box-shadow: var(--box-shadow-dimensions-small) var(--color-box-shadow);
	opacity: 0;
	position: absolute;
	transition: opacity var(--transition-duration) var(--transition-easing);
	width: 100%;
}

.open {
	z-index: 2;
}

.open .dropdown {
	opacity: 1;
}

.option {
	background-color: var(--color-background);
	border: var(--border-width) solid transparent;
	cursor: pointer;
	line-height: var(--line-height-base);
	padding: var(--spacing-regular);
	transition: background var(--transition-duration) var(--transition-easing), border var(--transition-duration) var(--transition-easing);
}

.option:hover {
	background-color: var(--color-background-faded);
}

.disabledOption {
	background-color: var(--color-background-faded);
	color: var(--color-text-faded);
	cursor: default;
}

.dropdown .focused,
.input:focus .focused {
	border: var(--border-width) solid var(--color-highlight);
}

.selected {
	background-color: var(--color-background-faded);
}

/* native input styles */
.input {
	appearance: none;
	background-color: transparent;
	border: var(--border-width) solid var(--color-border);
	border-bottom-color: var(--color-border-strong);
	border-radius: 0;
	cursor: pointer;
	display: block;
	font-size: inherit;
	line-height: var(--line-height-base);
	min-width: 200px;
	outline: 0;
	padding: var(--spacing-regular) calc(var(--spacing-regular) * 3) var(--spacing-regular) var(--spacing-regular);
	transition: border var(--transition-duration) var(--transition-easing);
	width: 100%;
}

.input:focus {
	border-color: var(--color-highlight);
	box-shadow: var(--box-shadow-dimensions-small) color(var(--color-highlight) alpha(20%));
}

/* State classes */
.disabled .input,
.readonly .input,
.disabled .trigger,
.readonly .trigger {
	background-color: var(--color-background-faded);
}

.invalid .input,
.invalid .trigger {
	border-color: color(var(--color-error) saturation(-9%) lightness(+37%));
	border-bottom-color: var(--color-error);
}
.invalid .input:focus,
.invalid .trigger:focus {
	border-color: var(--color-error);
	box-shadow: var(--box-shadow-dimensions-small) color(var(--color-error) alpha(20%));
}
.invalid .arrow {
	border-left-color: color(var(--color-error) saturation(-9%) lightness(+37%));
	color: var(--color-error);
}

.valid .input,
.valid .trigger {
	border-color: color(var(--color-success) saturation(-32%) lightness(+55%));
	border-bottom-color: var(--color-success);
}
.valid .input:focus,
.valid .trigger:focus {
	border-color: var(--color-success);
	box-shadow: var(--box-shadow-dimensions-small) color(var(--color-success) alpha(20%));
}
.valid .arrow {
	border-left-color: color(var(--color-success) saturation(-32%) lightness(+55%));
	color: var(--color-success);
}

.required > span::after {
	content: '*';
}

.multiselect .input {
	padding: 0;
}
