@import './variables.css';

.root,
.root * {
	box-sizing: border-box;
}

.underlayVisible {
	background: var(--underlay-bg);
}

.pane {
	background: var(--dojo-white);
	border: var(--border-thin) solid var(--border-color);
	box-shadow: var(--drop-shadow);
	box-sizing: border-box;
	font: var(--base-font);
	height: 100%;
	line-height: var(--base-line-height);
	position: fixed;
	top: 0;
}

.content {
	padding: calc(2 * var(--grid-size));
}

.left {
	left: 0;
	transform: translateX(calc(-100% - 10px))
}

.right {
	right: 0;
	transform: translateX(calc(100% + 10px));
}

.open {
	transform: translateX(0%);
}

.close {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 35px;
	cursor: pointer;
	font-size: 0;
	border: none;
	background: none;
}

.close:after {
	content: '✕';
	display: block;
	font-size: 14px;
}

.title {
	border-bottom: var(--border-thin) solid var(--border-color);
	box-sizing: border-box;
	flex: 0 0 auto;
	font-size: var(--header-font-size);
	height: calc(7 * var(--grid-size));
	line-height: var(--header-line-height);
	padding: calc(2 * var(--grid-size));
	position: relative;
	text-align: left;
}

.close {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 0;
	padding: var(--grid-size);
	position: absolute;
	right: calc(2 * var(--grid-size));
	top: 50%;
	transform: translateY(-50%);
}

.close:after {
	content: '✕';
	display: block;
	font-size: var(--header-font-size);
}

.left.slideOut {
	transition: transform ease-in-out var(--short-animation-duration);
	transform: translateX(-100%) !important;
}

.right.slideOut {
	transition: transform ease-in-out var(--short-animation-duration);
	transform: translateX(100%) !important;
}

.left.slideIn {
	transition: transform ease-in-out var(--short-animation-duration);
	transform: translateX(0%) !important;
}

.right.slideIn {
	transition: transform ease-in-out var(--short-animation-duration);
	transform: translateX(0%) !important;
}
