@import './variables.css';

.root {
	box-sizing: border-box;
	color: var(--color-text-primary);
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
}

.root * {
	box-sizing: border-box;
}

.divider {
	box-sizing: content-box;
	background-color: var(--color-border);
	transition: border var(--transition-duration) var(--transition-easing);
}

.row > .divider:hover {
	border-left-color: var(--color-border-strong);
	border-right-color: var(--color-border-strong);
}

.column > .divider:hover {
	border-top-color: var(--color-border-strong);
	border-bottom-color: var(--color-border-strong);
}
