@import './variables.css';

.divider {
	background-color: var(--dojo-blue);
	transition: border var(--short-animation-duration) var(--short-animation-easing);
}

.row > .divider:hover {
	border-left-color: var(--dojo-light-blue);
	border-right-color: var(--dojo-light-blue);
}

.column > .divider:hover {
	border-top-color: var(--dojo-light-blue);
	border-bottom-color: var(--dojo-light-blue);
}
