@import './variables.css';

:root {
	--tab-width: calc(var(--grid-base) * 16);
}

.root {
	box-sizing: border-box;
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
}

.root * {
	box-sizing: border-box;
}

.tabButton {
	border-bottom: var(--border-width) solid var(--color-border);
	border-left: var(--border-width) solid transparent;
	border-right: var(--border-width) solid transparent;
	border-top: var(--border-width) solid transparent;
	color: var(--dojo-dark-grey);
	cursor: pointer;
	display: inline-block;
	outline: none;
	overflow: hidden;
	padding: 15px 0;
	position: relative;
	text-align: center;
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
	width: var(--tab-width);
}

.tabButton:hover:not(.disabledTabButton):not(.activeTabButton) {
	background-color: var(--dojo-light-grey);
	border-color: var(--dojo-light-grey);
	color: var(--color-text-primary);
}

.activeTabButton {
	border-bottom-color: var(--dojo-blue);
	color: var(--dojo-blue);
}

.disabledTabButton {
	color: var(--dojo-gray);
	cursor: default;
}

.close {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 0;
	outline: none;
	padding: 1px 3px;
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
}

.close:after {
	content: '✕';
	display: block;
	font-size: var(--font-size-small);
}

.tab {
	position: relative;
	padding: var(--container-padding);
}

.alignLeft .tabs {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - var(--tab-width));
}

.alignLeft .tabButtons {
	display: inline-block;
	vertical-align: top;
}

.alignLeft .tabButton {
	border-top: var(--border-thin) solid transparent;
	border-left: var(--border-thick) solid transparent;
	border-bottom: var(--border-thin) solid transparent;
	border-right: var(--border-width) solid var(--color-border);
	display: block;
}

.alignLeft .activeTabButton {
	border-right-color: var(--dojo-blue);
	color: var(--dojo-blue);
}

.alignRight .tabs {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - var(--tab-width));
}

.alignRight .tabButtons {
	display: inline-block;
	vertical-align: top;
}

.alignRight .tabButton {
	border-top: var(--border-thin) solid transparent;
	border-right: var(--border-thick) solid transparent;
	border-bottom: var(--border-thin) solid transparent;
	border-left: var(--border-width) solid var(--color-border);
	display: block;
}

.alignRight .activeTabButton {
	border-left-color: var(--dojo-blue);
	color: var(--dojo-blue);
}

.alignBottom .tabButton {
	border-top-color: var(--color-border);
	border-bottom-color: transparent;
}

.alignBottom .activeTabButton {
	border-top-color: var(--dojo-blue);
	border-bottom-color: transparent;
}
