@import './variables.css';

.root, .root * { box-sizing: border-box; }

.root {
	display: block;
	font: var(--base-font);
	line-height: var(--base-line-height);
	margin: 0 var(--grid-base) var(--block-spacing);
}

.root span {
	display: block;
	font-size: var(--small-font-size);
}

.input {
	border: 1px solid var(--dojo-grey);
	border-bottom-color: var(--dojo-dark-grey);
	font: inherit;
	padding: var(--grid-base) calc(var(--grid-base) * 3) var(--grid-base) var(--grid-base);
	width: 100%;
}

.input:focus {
	border-color: var(--dojo-blue);
	border-bottom-color: var(--dojo-blue);
	box-shadow: var(--box-shadow-dimensions) color(var(--dojo-blue) alpha(20%));
	outline: none;
}

.input:hover {
	box-shadow: var(--box-shadow-dimensions) color(var(--dojo-black) alpha(20%));
}

.inputWrapper { }

/* disabled and readonly */
.disabled .input,
.readonly .input {
	background-color: var(--dojo-light-grey);
}

.disabled .input:hover,
.readonly .input:hover {
	box-shadow: none;
}

/* required */
.required span::after {
	content: '*';
}

/* invalid */
.invalid .input {
	border-color: var(--dojo-light-red);
	border-bottom-color: var(--dojo-red);
}

.invalid .input:focus {
	box-shadow: var(--box-shadow-dimensions) color(var(--dojo-red) alpha(20%));
}

/* valid */
.valid .input {
	border-color: var(--dojo-light-green);
	border-bottom-color: var(--dojo-green);
}

.valid .input:focus {
	box-shadow: var(--box-shadow-dimensions) color(var(--dojo-green) alpha(20%));
}
