@import './variables.css';

.root, .root * { box-sizing: border-box; }

.root {
	display: block;
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
}

.root span {
	display: block;
	font-size: var(--font-size-small);
	line-height: var(--line-height-base);
}

.input {
	border: var(--border-width) solid var(--color-border);
	border-bottom-color: var(--color-border-strong);
	font-size: inherit;
	padding: var(--grid-base) calc(var(--grid-base) * 3) var(--grid-base) var(--grid-base);
	transition: all var(--transition-duration) var(--transition-easing);
	width: 100%;
}

.input:focus {
	border-color: var(--color-highlight);
	border-bottom-color: var(--color-highlight);
	box-shadow: var(--box-shadow-dimensions-small) color(var(--color-highlight) alpha(20%));
	outline: none;
}

.input:hover {
	box-shadow: var(--box-shadow-dimensions-small) color(var(--color-box-shadow));
}

.inputWrapper { }

/* disabled and readonly */
.disabled .input,
.readonly .input {
	background-color: var(--color-background-faded);
}

.disabled .input:hover,
.readonly .input:hover {
	box-shadow: none;
}

/* required */
.required span::after {
	content: '*';
}

/* invalid */
.invalid .input {
	border-color: color(var(--color-error) saturation(-9%) lightness(+37%));
	border-bottom-color: var(--color-error);
}

.invalid .input:focus {
	box-shadow: var(--box-shadow-dimensions-small) color(var(--color-error) alpha(20%));
}

/* valid */
.valid .input {
	border-color: color(var(--color-success) saturation(-32%) lightness(+55%));
	border-bottom-color: var(--color-success);
}

.valid .input:focus {
	box-shadow: var(--box-shadow-dimensions-small) color(var(--color-success) alpha(20%));
}
