@import './variables.css';

.root {
	display: block;
}

.input {
	border: 1px solid var(--color-border);
	padding: var(--grid-base);
	width: 100%;
}

.input:focus {
	border-color: var(--color-highlight);
	box-shadow: var(--box-shadow-dimensions-small) color(var(--color-highlight) alpha(20%));
}

.disabled .input,
.readonly .input {
	background-color: var(--color-background-faded);
}

.invalid .input {
	border-color: var(--color-error);
}
.invalid .arrow {
	background-color: var(--color-error);
}
