@import './variables.css';

.root {
	overflow: hidden;
	box-sizing: border-box;
	color: var(--color-text-primary);
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
}

.root * {
	box-sizing: border-box;
}

.title {
	background-color: var(--color-background);
	border: var(--border-width) solid var(--color-border);
	padding: var(--grid-base) var(--grid-base) var(--grid-base) calc(var(--grid-base) * 4);
	position: relative;
	z-index: 1;
}

.content {
	border-right: var(--border-width) solid var(--color-border);
	border-bottom: var(--border-width) solid var(--color-border);
	border-left: var(--border-width) solid var(--color-border);
	padding: var(--grid-base);
	transition: margin-top ease-in-out var(--transition-duration);
}
