@import './variables.css';

.root {
	background: #FFF;
	border: var(--border-width) solid var(--color-border);
	box-sizing: border-box;
	height: calc(7 * var(--grid-base));
	padding: calc(2 * var(--grid-base));
	text-align: left;
}

.title {
	font-size: var(--font-size-title);
}

.action {
	padding-right: calc(3 * var(--grid-base));
}

.action:last-of-type {
	padding-right: 0;
}

.menuButton {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 0;
	padding: var(--grid-base);
	position: absolute;
	right: var(--grid-base);
	top: 50%;
	transform: translateY(-50%);
}

.menuButton i {
	font-size: var(--font-size-title);
}
