:root {
<<<<<<< HEAD
	/*******************************
	******** Old variables *********
	*******************************/

	/* Colors */
=======
	/* Old variables, will go away once new theme is complete */
>>>>>>> Variables
	--dojo-blue: #34495e;
	--dojo-light-blue: #86BBD8;
	--dojo-white: #FFFFFF;
	--dojo-off-white: #FBFBFB;
	--dojo-light-gray: #DDD;
	--dojo-shade-gray: rgba(0, 0, 0, 0.3);
	--dojo-gray: #9E9E9E;
	--dojo-light-gray: #F2F2F2;
	--dojo-red: #ED5153;
	--dojo-green: #01D48E;
	--dojo-gray: #BBB;
	--dojo-error-color: var(--dojo-red);
	--dojo-success-color: var(--dojo-green);
	--dojo-gray: #BBB;
	--base-font: 14px/1 sans-serif;
	--input-font-size: 14px;
	--title-bar-font-size: 20px;
	--container-padding: 14px 35px;
	--container-padding-thin: 14px;
	--subtle-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.25);
	--rounded-corners: 2px;
	--short-animation-duration: .2s;
	--short-animation-easing: ease;
	--block-spacing: 25px;
	--line-spacing: 5px;
	--border-thin: 1px;
	--form-field-width: 200px;
	--select-menu-height: 500px;
	--input-padding: 0.5em 1em;
	--border-thick: 5px;
	--tab-width: 120px;
	--min-container-height: 250px;
	--title-bar-bg: var(--dojo-blue);
	--title-bar-color: var(--dojo-white);
	--header-padding: 5px;
	--underlay-bg: var(--dojo-shade-gray);
	--input-focus-shadow: 0 0 4px 1px var(--dojo-light-blue);
	--input-border-color: var(--dojo-gray);
	--input-highlight-color: var(--dojo-blue);
	--button-bg: var(--dojo-blue);
	--button-hover-bg: var(--dojo-light-blue);
	--button-disabled-bg: var(--dojo-shade-gray);
	--button-color: var(--dojo-white);
	--button-icon-font: 'iconFont';
	--button-icon-size: 1.4em;
	--button-padding: 0.75em 1.25em;
	--calendar-disabled-bg: var(--dojo-light-gray);
	--calendar-hover-bg: var(--dojo-light-blue);
	--calendar-selected: var(--dojo-blue);

<<<<<<< HEAD
	/*******************************
	******** New variables *********
	*******************************/

	/* Spacing */
	--grid-base: 8px;
	--spacing-regular: var(--grid-base);
	--spacing-large: calc(var(--grid-base) * 2);

	/* Fonts */
	--font-size-base: 16px;
	--font-size-small: 14px;
	--font-size-title: 20px;
	--font-size-icon: 24px;
	--line-height-base: 24px;

	/* Color hex values */
	--dojo-white: #ffffff;
	--dojo-light-grey: #f4f6f7;
	--dojo-grey: #d6dde2;
	--dojo-dark-grey: #5c6c7c;
	--dojo-black: #000000;
	--dojo-blue: #006be6;
	--dojo-red: #eb1313;
	--dojo-green: #188701;

	/* Color usage names */
	--color-text-primary: var(--dojo-black);
	--color-text-faded: var(--dojo-dark-grey);
	--color-text-inverted: var(--dojo-white);
	--color-highlight: var(--dojo-blue);
	--color-success: var(--dojo-green);
	--color-error: var(--dojo-red);
	--color-background: var(--dojo-white);
	--color-background-inverted: var(--dojo-dark-grey);
	--color-background-faded: var(--dojo-light-grey);
	--color-border: var(--dojo-grey);
	--color-border-strong: var(--dojo-dark-grey);
	--color-box-shadow: color(var(--dojo-black) alpha(20%));
	--color-box-shadow-strong: color(var(--dojo-black) alpha(50%));

	/* Misc, for now */
	--box-shadow-dimensions-small: 0 2px 2px 0;
	--box-shadow-dimensions-large: 0 9px 16px 0;
	--border-width: 1px;
	--border-width-emphasized: 2px;
	--transition-duration: 0.25s;
	--transition-easing: ease;
=======
	/* New theme variables */
	--dojo-white: #FFFFFF;
	--dojo-gray: #D6DDE2;
	--dojo-light-gray: #F4F6F7;
	--dojo-dark-gray: #5C6C7C;

	--pane-bg: var(--dojo-white);
	--border-color: var(--dojo-light-gray);
	--base-color: var(--dojo-dark-gray);

	--base-font: inherit;
	--border-thin: 1px;
	--drop-shadow: 0 9px 16px 0 rgba(0, 0, 0, 0.5);
	--grid-size: 8px;
	--header-font-size: 20px;
	--header-line-height: 1.2;
	--underlay-bg: rgba(0, 0, 0, 0.59);
>>>>>>> Variables
}
