@keyframes fadeIn {
	from {
		background-color: red;
	}
	to {
		background-color: white;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.enter,
.underlayEnter {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: fadeIn;
}

.exit,
.underlayExit {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: fadeOut;
}
