.root {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	width: 100%;
}

.stretch {
	height: 100%;
}

.left {
	align-items: flex-start;
}

.center {
	align-items: center;
}

.right {
	align-items: flex-end;
}

.child:last-child {
	margin-bottom: 0;
	margin-bottom: auto;
}

.child:first-child {
	margin-top: auto;
}
