@import '../../common/styles/variables.css';

.root {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 200px;
}

.root * {
	box-sizing: border-box;
}

.controls {
	position: relative;
}

.input {
	width: 100%;
	padding: 2px 4px;
	padding-right: 2em;
	border: 1px solid var(--component-color);
	background: var(--component-background);
}

.input::-ms-clear {
	display: none;
}

.clearable {
	padding-right: 4em;
}

.dropdown {
	position: absolute;
	width: 100%;
	max-height: 400px;
	overflow-y: auto;
	z-index: 1;
	border: 1px solid var(--component-color);
	background: var(--component-background);
}

.option {
	cursor: pointer;
}

.disabledOption {
	color: var(--disabled-color);
	font-style: italic;
	cursor: default;
}

.selected {
	background: var(--selected-background);
	color: var(--selected-color);
}

.clear,
.trigger {
	position: absolute;
	cursor: pointer;
	font-size: 0;
	border: none;
	background: none;
	top: 50%;
	transform: translateY(-50%);
	padding: 0;
}

.clear i, .trigger i {
	font-size: initial;
}

.trigger {
	right: 7px;
}

.clear {
	right: 27px;
}

.valid { }
.invalid { }
.open { }
