@import '../../styles/variables.css';

.combobox {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	font: var(--base-font);
}

.input {
	border: var(--border-thin) solid var(--dojo-light-gray);
	font: var(--base-font);
	padding: var(--input-padding);
	outline: none;
}

.arrow {
	position: absolute;
	cursor: pointer;
}

.results {
	position: absolute;
	width: calc(100% - var(--border-thin) - var(--border-thin));
	max-height: var(--select-popup-height);
	overflow-y: auto;
	background: var(--dojo-white);
	border: var(--border-thin) solid var(--dojo-light-gray);
	margin-top: -var(--border-thin);
}

.results div {
	padding: var(--input-padding);
	cursor: pointer;
}

.selectedResult {
	background: var(--dojo-blue);
	color: var(--dojo-white);
}

.clear {
	cursor: pointer;
}
