@import '../../styles/variables.css';

.combobox {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	font: var(--base-font);
}

.input {
	border: var(--border-thin) solid var(--dojo-light-gray);
	font: var(--base-font);
	padding: var(--input-padding);
	outline: none;
}

.arrow {
	position: absolute;
}

.results {
	position: absolute;
	width: calc(100% - 2px);
	max-height: 500px;
	overflow-y: auto;
	background: var(--dojo-white);
	border: var(--border-thin) solid var(--dojo-light-gray);
}

.results div {
	padding: var(--input-padding);
	cursor: pointer;
}

.results div:hover {
	background: var(--dojo-blue);
	color: var(--dojo-white);
}

.selectedResult {
	background: var(--dojo-blue);
	color: var(--dojo-white);
}
