.rootFixed {
	position: relative;
	display: inline-block;
}

.contentFixed {
	position: absolute;
	/* zindex-body-popup */
	z-index: 400;
}

.bottomFixed .contentFixed {
	bottom: 0;
	left: 50%;
}

.leftFixed .contentFixed {
	left: 0;
	top: 50%;
}

.rightFixed .contentFixed {
	right: 0;
	top: 50%;
}

.topFixed .contentFixed {
	top: 0;
	left: 50%;
}
