@import '../../common/styles/variables.css';

.rootFixed {
	position: relative;
	display: inline-block;
}

.contentFixed {
	position: absolute;
	z-index: var(--zindex-tooltip);
}

.bottomFixed .contentFixed {
	bottom: 0;
	left: 50%;
}

.leftFixed .contentFixed {
	left: 0;
	top: 50%;
}

.rightFixed .contentFixed {
	right: 0;
	top: 50%;
}

.topFixed .contentFixed {
	top: 0;
	left: 50%;
}
