.root {
	color: var(--mdc-theme-text-secondary-on-background);
	composes: mdc-typography mdc-typography--body1 from '@material/typography/dist/mdc.typography.css';
}

.listItem,
.listItem::before {
	margin-right: var(--mdc-theme-grid-base);
}
.listItem::last-child {
	margin-right: 0;
}

.current {
	color: var(--mdc-theme-text-primary-on-background);
}
