.nativeResetRoot {
	background: none;
	border: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	padding: 0;
}

.root {
	composes: mdc-button from '@material/button/dist/mdc.button.css';
}

.root:hover:not(:disabled)::after {
	opacity: 0.04;
}

/* Styles taken from :active pseudo class */
.pressed {
}
.pressed::after {
	transition-duration: 75ms;
	opacity: 0.12;
}

.root.disabled:disabled {
	color: var(--mdc-disabled-text-color);
	border-color: var(--mdc-disabled-text-color);
}

.root.defaultKind:not(.disabled) {
	color: var(--mdc-text-color);
}

.root.defaultKind:before,
.root.defaultKind:after {
	background-color: var(--mdc-text-color);
}

.root.secondaryKind:not(.disabled) {
	color: var(--mdc-theme-secondary);
}

.root.secondaryKind:before,
.root.secondaryKind:after {
	background-color: var(--mdc-theme-secondary);
}

.icon {
	composes: mdc-button__icon from '@material/button/dist/mdc.button.css';
}

.root.iconOnly {
	min-width: 0;
	padding: 0 var(--mdc-theme-grid-base);
}

.root.iconOnly .icon {
	margin: 0;
}

.label {
	composes: mdc-button__label from '@material/button/dist/mdc.button.css';
}

/* class repeated for increased specificity */
.root .icon.icon {
	display: inline-flex;
}
