.nativeResetRoot {
	background: none;
	border: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	padding: 0;
}

.root {
	composes: mdc-button from '@material/button/dist/mdc.button.css';
}

.text {
}

.root:hover:not(:disabled)::after {
	opacity: 0.04;
}

.outlined {
	composes: mdc-button--outlined from '@material/button/dist/mdc.button.css';
}

.contained {
	composes: mdc-button--raised from '@material/button/dist/mdc.button.css';
}

.root.disabled:disabled {
	background-color: var(--mdc-disabled-text-color);
}

.root.disabled:disabled {
	color: var(--mdc-disabled-text-color);
	border-color: var(--mdc-disabled-text-color);
}

.icon {
	composes: mdc-button__icon from '@material/button/dist/mdc.button.css';
}

.root.iconOnly {
	min-width: 0;
	padding: 0 var(--mdc-theme-grid-base);
}

.root.iconOnly .icon {
	margin: 0;
	width: 24px;
	height: 24px;
	font-size: 24px;
}

.label {
	composes: mdc-button__label from '@material/button/dist/mdc.button.css';
}

/* class repeated for increased specificity */
.root .icon.icon {
	display: inline-flex;
}
