.root {
	composes: mdc-chip from '@material/chips/dist/mdc.chips.css';
	background: var(--mdc-chip-background);
	color: var(--mdc-text-color);
}

.root.disabled .label {
	color: var(--mdc-disabled-text-color) !important;
}

.root:not(.disabled):hover {
	background: var(--mdc-chip-background-hover);
}

.root:not(.disabled):hover .label {
	color: var(--mdc-text-color);
}

.iconWrapper,
.closeIconWrapper {
	composes: mdc-chip__icon from '@material/chips/dist/mdc.chips.css';
	overflow: hidden;
}

.iconWrapper {
	composes: mdc-chip__icon--leading from '@material/chips/dist/mdc.chips.css';
	font-size: 18px;
	color: var(--mdc-text-color);
}

.label {
	composes: mdc-chip__text from '@material/chips/dist/mdc.chips.css';
}

.closeIconWrapper {
	composes: mdc-chip__icon--trailing from '@material/chips/dist/mdc.chips.css';
	cursor: pointer;
	color: var(--mdc-text-color);
}

.clickable {
	cursor: pointer;
}

.disabled {
}

.root .icon {
	font-size: 18px;
}
