.value {
	margin-bottom: 2px;
	margin-right: 2px;
	/* nasty !important needed to override the material 32px */
	height: 28px !important;
}

.selectedIcon {
	margin-right: 8px;
}

.root.hasValue .inputLeading {
	display: block;
	pointer-events: unset;
	position: static;
	transform: none;
	max-width: 100%;
}

.values .value {
	margin: 4px 4px 4px 0;
}

.root .label {
	z-index: 1;
}

.root.hasValue .input {
	display: inline-block;
	width: 100%;
	padding: 8px 28px 12px;
}

.root.hasValue .wrapper {
	height: auto;
	flex-flow: row wrap;
}

.root.noLabel.hasValue .wrapper {
	padding-top: 12px;
}

.root.hasLabel .defaultKind .input {
	padding-top: 12px;
}

.root.hasLabel.hasValue .defaultKind {
	padding-top: 28px;
}

.root.hasLabel.hasValue .defaultKind .inputLabel {
	position: absolute;
	width: 100%;
	left: -24px;
}

.root.hasLabel .defaultKind::before {
	height: 0;
}

.root.hasLabel.hasValue .outlinedKind {
	padding-top: 12px;
}

.root.hasLabel.hasValue .outlinedKind .inputLabel {
	position: absolute;
	top: 28px;
}

.root.hasLabel.hasValue .outlinedKind .label {
	transition: unset;
}

.values {
	padding-left: 16px;
}

.labelActive {
	composes: mdc-floating-label--float-above from '@material/textfield/dist/mdc.textfield.css';
}

.notchActive {
	composes: mdc-notched-outline--notched from '@material/textfield/dist/mdc.textfield.css';
}
