@import './variables.css';

.toggleCalendarButton {
	cursor: pointer;
	display: flex;
	pointer-events: all;
}

.popup {
	display: inline-block;
	background: var(--mdc-theme-background);
	border-radius: var(--mdc-theme-popup-border-radius);
	box-shadow: var(--mdc-theme-popup-box-shadow);
}
