.root {
	composes: mdc-fab from '@material/fab/dist/mdc.fab.css';
}

.small {
	composes: mdc-fab--mini from '@material/fab/dist/mdc.fab.css';
}

.effect {
	composes: mdc-fab__ripple from '@material/fab/dist/mdc.fab.css';
}

.label {
	display: flex;
	align-items: center;
	justify-content: center;
}

.extended {
	composes: mdc-fab--extended from '@material/fab/dist/mdc.fab.css';
}

.icon {
	composes: mdc-fab__icon from '@material/fab/dist/mdc.fab.css';
}
