.root {
	composes: mdc-fab mdc-fab__ripple from '@material/fab/dist/mdc.fab.css';
}

.extended {
	composes: mdc-fab--extended from '@material/fab/dist/mdc.fab.css';
}

.icon {
	composes: mdc-fab__icon from '@material/fab/dist/mdc.fab.css';
}
