@import './variables.css';

.root {
	padding: 16px;
	color: var(--mdc-theme-text-primary-on-background);
	font-size: var(--mdc-theme-font-size-small);
	font-family: var(--mdc-theme-font-family);
	border-top: 1px solid var(--mdc-theme-separator);
}
