.root {
	composes: mdc-floating-label from '@material/textfield/dist/mdc.textfield.css';
}

.active {
	composes: mdc-floating-label--float-above from '@material/textfield/dist/mdc.textfield.css';
}

.root.secondary {
	position: relative;
}

.root:not(.disabled).active {
	color: var(--mdc-theme-primary) !important;
}

.root:not(.active) {
	color: var(--mdc-secondary-text-color) !important;
}

.root.disabled {
	color: var(--mdc-disabled-text-color) !important;
}
