.root {
	padding: 8px 0;
	background: var(--mdc-raised-surface-background) !important;
	color: var(--mdc-text-color);
	composes: mdc-menu from '@material/menu/dist/mdc.menu.css';
	composes: mdc-list from '@material/list/dist/mdc.list.css';
}

.divider {
	composes: mdc-list-divider from '@material/list/dist/mdc.list.css';
}
