.root {
	composes: mdc-list-item from '@material/list/dist/mdc.list.css';
	background: var(--mdc-raised-surface-background);
	color: var(--mdc-text-color);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.root:hover {
	background: var(--mdc-theme-on-surface);
}

.root.selected {
	background: var(--mdc-theme-on-surface-hover);
}

.active {
	border: none;
	background: var(--mdc-theme-on-surface);
}
