.linear {
	composes: mdc-linear-progress mdc-linear-progress--indeterminate from '@material/linear-progress/dist/mdc.linear-progress.css';
}

.inactive {
	visibility: hidden;
}

.buffer {
	composes: mdc-linear-progress__buffer from '@material/linear-progress/dist/mdc.linear-progress.css';
}

.root .buffer {
	background-color: var(--mdc-theme-on-surface);
}

.bar {
	composes: mdc-linear-progress__bar from '@material/linear-progress/dist/mdc.linear-progress.css';
}

.primary {
	composes: mdc-linear-progress__primary-bar from '@material/linear-progress/dist/mdc.linear-progress.css';
}

.inner {
	composes: mdc-linear-progress__bar-inner from '@material/linear-progress/dist/mdc.linear-progress.css';
}

.circular {
	composes: mdc-circular-progress from '@material/circular-progress/dist/mdc.circular-progress.css';
}

.circular {
	composes: mdc-circular-progress--indeterminate from '@material/circular-progress/dist/mdc.circular-progress.css';
}

.circularContainer {
	display: inline-block;
	composes: mdc-circular-progress__indeterminate-container from '@material/circular-progress/dist/mdc.circular-progress.css';
}

.spinnerLayer {
	composes: mdc-circular-progress__spinner-layer from '@material/circular-progress/dist/mdc.circular-progress.css';
}

.circleClipper {
	composes: mdc-circular-progress__circle-clipper from '@material/circular-progress/dist/mdc.circular-progress.css';
}

.circleLeft {
	composes: mdc-circular-progress__circle-left from '@material/circular-progress/dist/mdc.circular-progress.css';
}

.circleRight {
	composes: mdc-circular-progress__circle-right from '@material/circular-progress/dist/mdc.circular-progress.css';
}

.circleGraphic {
	composes: mdc-circular-progress__indeterminate-circle-graphic from '@material/circular-progress/dist/mdc.circular-progress.css';
}

.gapPatch {
	composes: mdc-circular-progress__gap-patch from '@material/circular-progress/dist/mdc.circular-progress.css';
}
