.root {
	composes: mdc-linear-progress mdc-linear-progress--indeterminate from '@material/linear-progress/dist/mdc.linear-progress.css';
}

.buffer {
	composes: mdc-linear-progress__buffer from '@material/linear-progress/dist/mdc.linear-progress.css';
}

.root .buffer {
	background-color: var(--mdc-theme-on-surface);
}

.bar {
	composes: mdc-linear-progress__bar from '@material/linear-progress/dist/mdc.linear-progress.css';
}

.primary {
	composes: mdc-linear-progress__primary-bar from '@material/linear-progress/dist/mdc.linear-progress.css';
}

.inner {
	composes: mdc-linear-progress__bar-inner from '@material/linear-progress/dist/mdc.linear-progress.css';
}
