.root {
	composes: mdc-select from '@material/select/dist/mdc.select.css';
}

.inputWrapper {
	composes: mdc-select__anchor from '@material/select/dist/mdc.select.css';
	width: 100%;
	border-bottom: 1px solid;
	transition: border-color 0.18s cubic-bezier(0.4, 0, 0.2, 1);
}

.root:not(.disabled) .inputWrapper {
	background-color: var(--mdc-theme-on-surface);
}

.root:hover:not(.disabled) .inputWrapper {
	background-color: var(--mdc-theme-on-surface-hover);
}

.root:not(.disabled) .input {
	color: var(--mdc-text-color);
}

.focused .inputWrapper {
	border-bottom-color: var(--mdc-theme-primary);
}

.select {
	composes: mdc-select__selected-text from '@material/select/dist/mdc.select.css';
	appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
	min-width: 100%;
	border-radius: 0;
}

.root:not(.disabled) .select {
	color: var(--mdc-text-color);
}

.focused {
	composes: mdc-select--focused from '@material/select/dist/mdc.select.css';
}

.arrow {
	composes: mdc-select__dropdown-icon from '@material/select/dist/mdc.select.css';
	background: url(data:image/svg+xml,%3Csvg%20width%3D%2210px%22%20height%3D%225px%22%20viewBox%3D%227%2010%2010%205%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Shape%22%20stroke%3D%22none%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20points%3D%227%2010%2012%2015%2017%2010%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E)
		no-repeat center;
}

.labelRoot {
	composes: mdc-floating-label from '@material/select/dist/mdc.select.css';
	composes: root from './label.m.css';
	z-index: 10;
}

.labelActive {
	composes: mdc-floating-label--float-above from '@material/textfield/dist/mdc.textfield.css';
	composes: active from './label.m.css';
}

.root .labelActive {
	top: 26px;
}

.iconIcon {
	display: none;
}

.root:not(.disabled):not(.focused) .inputWrapper {
	border-bottom-color: var(--mdc-border-color);
}

.root:not(.disabled):not(.focused) .inputWrapper:hover {
	border-bottom-color: var(--mdc-border-color-hover);
}
