.root {
	composes: mdc-select from '@material/select/dist/mdc.select.css';
}

.inputWrapper {
	composes: mdc-select__anchor from '@material/select/dist/mdc.select.css';
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.42);
	transition: border-color 0.18s cubic-bezier(0.4, 0, 0.2, 1);
}

.focused .inputWrapper {
	border-bottom-color: var(--mdc-theme-primary);
}

.select {
	composes: mdc-select__selected-text from '@material/select/dist/mdc.select.css';
	appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
	min-width: 100%;
	border-radius: 0;
}

.focused {
	composes: mdc-select--focused from '@material/select/dist/mdc.select.css';
}

.arrow {
	composes: mdc-select__dropdown-icon from '@material/select/dist/mdc.select.css';
}

.labelRoot {
	composes: mdc-floating-label from '@material/select/dist/mdc.select.css';
	z-index: 10;
}

.labelActive {
	composes: mdc-floating-label--float-above from '@material/textfield/dist/mdc.textfield.css';
}

.root .labelActive {
	top: 26px;
}

.iconIcon {
	display: none;
}
