.root {
	composes: root from './button.m.css';
	composes: mdc-button--outlined from '@material/button/dist/mdc.button.css';
}

.pressed {
	composes: mdc-button--unelevated from '@material/button/dist/mdc.button.css';
}

.root.cancel:not(:disabled) {
	border-color: var(--mdc-theme-on-surface);
	color: var(--mdc-text-color);
}

.root.cancel:before,
.root.cancel:after {
	background-color: var(--mdc-theme-on-surface);
}

.root.secondary:not(:disabled) {
	border-color: var(--mdc-theme-secondary) !important;
	color: var(--mdc-secondary-text-color);
}

.root.secondary:before,
.root.secondary:after {
	background-color: var(--mdc-theme-secondary);
}
