.toggleButton {
	composes: nativeResetRoot from './button.m.css';
	cursor: pointer;
	display: flex;
	pointer-events: all;
	color: var(--mdc-secondary-text-color);
}

.toggleButton:hover {
	color: var(--mdc-text-color);
}
