/* defines the colour of the underlay when it is set to visible */
.underlayVisible {
	background: rgba(0, 0, 0, 0.25);
}

.root {
	z-index: calc(var(--zindex-body-popup) + 1);
}

.underlay {
	z-index: var(--zindex-body-popup);
}
