.root {
	composes: mdc-slider from '@material/slider/dist/mdc.slider.css';
	font-family: var(--mdc-theme-font-family);
}

.inputWrapper {
	composes: mdc-slider__track-container from '@material/slider/dist/mdc.slider.css';
	height: calc(var(--mdc-border-width) * 2);
	margin: calc(var(--mdc-theme-grid-base) * 1.5) 0;
	overflow: inherit;
	position: relative;
	top: auto;
	width: auto;
}

.filled {
	composes: mdc-slider__track from '@material/slider/dist/mdc.slider.css';
	position: relative;
}

.root .filled {
	overflow: visible;
}

.thumb {
	background-color: var(--mdc-theme-secondary);
	border-radius: 50%;
	height: 16px;
	margin-left: -7px;
	position: absolute;
	top: -7px;
	transition: transform 0.1s ease-out;
	width: 16px;
	transform: scale(0.571);
	will-change: transform;
}

.root .input {
	height: 16px;
	outline: none;
	top: -7px;
}
.input::-ms-thumb {
	height: 16px;
	width: 16px;
}
.input::-moz-range-thumb {
	height: 16px;
	width: 16px;
}
.input::-webkit-slider-thumb {
	height: 16px;
	width: 16px;
}

/* focused styles */
.input:active ~ .thumb.focused {
	transform: scale(1);
}

.thumb:before {
	content: '';
	width: 32px;
	height: 32px;
	border-radius: 50%;
	opacity: 0.25;
	background-color: var(--mdc-theme-secondary);
	transition: transform 0.1s ease-out;
	transform: scale(0.571);
	will-change: transform;
	display: block;
	top: -8px;
	position: relative;
	left: -8px;
}

.input:focus ~ .thumb:before {
	transform: scale(1);
}

.input:focus:active ~ .thumb:before {
	transform: scale(1);
}

.input:focus ~ .outputTooltip,
.root:hover .outputTooltip {
	opacity: 1;
	pointer-events: auto;
	z-index: 1;
}

.output {
	background-color: var(--mdc-theme-background);
	color: var(--mdc-text-color);
	display: inline-block;
	margin: var(--mdc-theme-grid-base) 0 0;
	padding: var(--mdc-theme-grid-base);
}

.outputTooltip {
	margin: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: calc(var(--grid-base) * 2.5);
	transform: translate(-50%, 0);
	transition: opacity var(--transition-duration) var(--transition-easing);
	background-color: var(--mdc-raised-surface-background);
	border-radius: var(--mdc-theme-border-radius);
}

.outputTooltip::before {
	border-left: var(--grid-base) solid transparent;
	border-right: var(--grid-base) solid transparent;
	border-bottom: var(--grid-base) solid var(--mdc-theme-secondary);
	content: '';
	left: 50%;
	margin-left: calc(var(--grid-base) * -1);
	margin-top: calc(var(--grid-base) * -1);
	position: absolute;
	top: 0;
}

/* disabled and readonly styles */
.disabled .filled,
.readonly .filled {
	background-color: var(--mdc-border-color);
}

.disabled .thumb,
.readonly .thumb {
	background-color: var(--mdc-border-color);
}

/* invalid style */
.invalid .filled {
	background-color: var(--mdc-theme-error);
}
.invalid .thumb {
	border-color: var(--mdc-theme-error);
}

/* valid style */
.valid .filled {
	background-color: var(--mdc-theme-success);
}
.valid .thumb {
	border-color: var(--mdc-theme-success);
}
