.iconIcon {
	composes: icon from './icon.m.css';
}

.root .iconIcon {
	transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.star:hover .iconIcon {
	transform: scale(1.2);
}

.root .filled {
	color: #ffb400;
}

.root .empty {
	color: var(--mdc-disabled-color);
}
