.iconIcon {
	composes: icon from './icon.m.css';
}

.root .iconIcon {
	transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.root .empty .iconIcon {
	color: var(--mdc-disabled-color);
}

.root .filled .iconIcon {
	color: #ffb400;
}

.star {
	composes: star from '../default/rate.m.css';
}

.star:hover .iconIcon {
	transform: scale(1.2);
}
