.root {
	composes: mdc-select from '@material/select/dist/mdc.select.css';
	display: flex;
	flex-direction: column;
}

.root:not(.disabled) .trigger {
	background-color: var(--mdc-theme-on-surface);
}

.root:hover:not(.disabled) .trigger {
	background-color: var(--mdc-theme-on-surface-hover);
}

.expanded {
	composes: mdc-select--activated from '@material/select/dist/mdc.select.css';
}

.focused {
	composes: mdc-select--focused from '@material/select/dist/mdc.select.css';
}

.valid {
}

.invalid {
}

.disabled {
	composes: mdc-select--disabled from '@material/select/dist/mdc.select.css';
	background-color: var(--mdc-disabled-color);
}

.required {
	composes: mdc-select--required from '@material/select/dist/mdc.select.css';
}

.trigger {
	composes: mdc-select__anchor from '@material/select/dist/mdc.select.css';
	border: 0;
	padding: 0;
	width: 100%;
	outline: none;
}

.value {
	composes: mdc-select__selected-text mdc-line-ripple from '@material/select/dist/mdc.select.css';
	text-align: left;
	color: var(--mdc-text-color) !important;
}

.disabled .value {
	color: var(--mdc-disabled-text-color) !important;
}

.value::before {
	border-bottom-color: var(--mdc-text-color) !important;
}

.valueExpanded {
	composes: mdc-line-ripple--active from '@material/select/dist/mdc.select.css';
}

.arrow {
	composes: mdc-select__dropdown-icon from '@material/select/dist/mdc.select.css';
	background: url(data:image/svg+xml,%3Csvg%20width%3D%2210px%22%20height%3D%225px%22%20viewBox%3D%227%2010%2010%205%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Shape%22%20stroke%3D%22none%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20points%3D%227%2010%2012%2015%2017%2010%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E)
		no-repeat center;
}

.labelRoot {
	composes: mdc-floating-label from '@material/select/dist/mdc.select.css';
	z-index: 10;
	color: var(--mdc-text-color) !important;
}

.labelActive {
	composes: mdc-floating-label--float-above from '@material/textfield/dist/mdc.textfield.css';
	color: var(--mdc-theme-primary) !important;
}

.root .labelActive {
	top: 26px;
}

.menuWrapper {
	box-shadow: var(--mdc-theme-elevation-2);
	border-radius: var(--mdc-theme-border-radius);
	overflow: hidden;
}

.iconIcon {
	display: none;
}
