.root {
	composes: mdc-select from '@material/select/dist/mdc.select.css';
}

.valid {
}

.invalid {
}

.disabled {
	composes: mdc-select--disabled from '@material/select/dist/mdc.select.css';
}

.required {
	composes: mdc-select--required from '@material/select/dist/mdc.select.css';
}

.trigger {
	composes: mdc-select__anchor from '@material/select/dist/mdc.select.css';
	width: 100%;
}

.value {
	composes: mdc-select__selected-text from '@material/select/dist/mdc.select.css';
	text-align: left;
}

.arrow {
	composes: mdc-select__dropdown-icon from '@material/select/dist/mdc.select.css';
}

.labelRoot {
	composes: mdc-floating-label from '@material/select/dist/mdc.select.css';
	z-index: 10;
}

.menuWrapper {
	box-shadow: var(--mdc-theme-popup-box-shadow);
	border-radius: var(--mdc-theme-popup-border-radius);
	overflow: hidden;
}

.iconIcon {
	display: none;
}
