.pane {
	composes: mdc-drawer mdc-drawer--modal from '@material/drawer/dist/mdc.drawer.css';
}

.root .pane {
	background-color: var(--mdc-raised-surface-background);
}

.root .titleContent,
.root .content,
.root .closeIcon {
	color: var(--mdc-text-color);
}

.title {
	composes: mdc-drawer__header from '@material/drawer/dist/mdc.drawer.css';
	position: relative;
}

.titleContent {
	composes: mdc-drawer__title from '@material/drawer/dist/mdc.drawer.css';
}

.content {
	composes: mdc-drawer__content from '@material/drawer/dist/mdc.drawer.css';
	padding: 0 16px 16px 16px;
}

.left {
	transform: translateX(calc(-100% - 32px));
}

.right {
	left: initial;
	transform: translateX(calc(100% + 32px));
}

.top {
	transform: translateY(calc(-100% - 26px));
}

.bottom {
	transform: translateY(calc(100% + 26px));
}

.underlayVisible {
	background: var(--mdc-theme-elevation-1);
}

.root .open {
	transform: translate(0, 0);
}
