.pane {
	composes: mdc-drawer mdc-drawer--modal from '@material/drawer/dist/mdc.drawer.css';
	z-index: 400;
}

.title {
	composes: mdc-drawer__header from '@material/drawer/dist/mdc.drawer.css';
	position: relative;
}

.titleContent {
	composes: mdc-drawer__title from '@material/drawer/dist/mdc.drawer.css';
}

.content {
	composes: mdc-drawer__content from '@material/drawer/dist/mdc.drawer.css';
	padding: 0 16px 16px 16px;
}

.left {
	transform: translateX(calc(-100% - 32px));
}

.right {
	transform: translateX(calc(100% + 32px));
}

.top {
	transform: translateY(calc(-100% - 26px));
}

.bottom {
	transform: translateY(calc(100% + 26px));
}
