/* The root class of TextInput */
.root {
}

/* The wrapper around the text input, label, leading, and trailing (not helper text) */
.wrapper {
	composes: mdc-text-field from '@material/textfield/dist/mdc.textfield.css';
	display: flex;
}

/* Added to the input */
.input {
	composes: mdc-text-field__input from '@material/textfield/dist/mdc.textfield.css';
}
/* Contains the input element */
.inputWrapper {
	width: 100%;
	composes: mdc-line-ripple from '@material/textfield/dist/mdc.textfield.css';
}

.inputWrapperFocused {
	composes: mdc-line-ripple--active from '@material/textfield/dist/mdc.textfield.css';
}

.noLabel {
	composes: mdc-text-field--no-label from '@material/textfield/dist/mdc.textfield.css';
}

/* Added to a disabled TextInput */
.disabled {
	composes: mdc-text-field--disabled from '@material/textfield/dist/mdc.textfield.css';
}
/* Added to a focused input */
.focused {
	composes: mdc-text-field--focused from '@material/textfield/dist/mdc.textfield.css';
}
/* Added to a read-only input */
.readonly {
}
/* Added to a required input */
.required {
}
/* Added when the contents of the TextInput are invalid */
.invalid {
}
/* Contains leading content */
.addonRoot {
	composes: mdc-text-field__icon from '@material/textfield/dist/mdc.textfield.css';
}

.hasLeading.hasTrailing .addonRoot,
.hasLeading .addonRoot {
	left: 16px;
	right: auto;
}

.hasLeading.hasTrailing .addonRoot ~ .addonRoot,
.hasTrailing .addonRoot {
	right: 12px;
	left: auto;
}

/* Added at the root when there is leading content */
.hasLeading {
	composes: mdc-text-field--with-leading-icon from '@material/textfield/dist/mdc.textfield.css';
}

/* Added at the root when there is trailing content */
.hasTrailing {
	composes: mdc-text-field--with-trailing-icon from '@material/textfield/dist/mdc.textfield.css';
}

/* Styles the helper text when the input is invalid */
.invalid .helperText {
	color: var(--error-color);
}

/* Styles the input when the input is invalid */
.invalid .input {
	border-color: var(--error-color);
}

/* Styles the input when the input is valid */
.valid .input {
	border-color: var(--success-color);
}
