.root {
}

.wrapper {
	composes: mdc-text-field mdc-text-field--textarea mdc-text-field--fullwidth from '@material/textfield/dist/mdc.textfield.css';
}

.root .input {
	color: var(--mdc-text-color) !important;
}

.root .disabled .input {
	color: var(--mdc-secondary-text-color) !important;
}

.input {
	composes: mdc-text-field__input from '@material/textfield/dist/mdc.textfield.css';
}

.focused {
	composes: mdc-text-field--focused from '@material/textfield/dist/mdc.textfield.css';
}

.inputWrapper {
	width: 100%;
}

.root .input {
	border: 1px solid var(--mdc-border-color);
	border-radius: var(--mdc-theme-border-radius);
}

.root .focused .input {
	border-color: var(--mdc-theme-primary);
}

.focused {
	composes: mdc-text-field--focused from '@material/textfield/dist/mdc.textfield.css';
}
