.root {
	font-family: var(--mdc-theme-font-family);
	color: var(--mdc-text-color);
}

.leading {
	width: calc(var(--mdc-theme-grid-base) * 40);
}

.trailing {
	width: calc(var(--mdc-theme-grid-base) * 40);
}
