.toggleMenuButton {
	composes: nativeResetRoot from './button.m.css';
	cursor: pointer;
	display: flex;
	pointer-events: all;
	color: var(--mdc-secondary-text-color);
}

.toggleMenuButton:hover {
	color: var(--mdc-text-color);
}

.popup {
	display: inline-block;
	background: var(--mdc-theme-background);
	border-radius: var(--mdc-theme-border-radius);
	box-shadow: var(--mdc-theme-elevation-2);
}
