.root {
	font-family: var(--mdc-theme-font-family);
}

.content {
	background-color: var(--mdc-tooltip-background);
	border-radius: var(--mdc-theme-border-radius);
	color: var(--mdc-theme-surface);
	padding: calc(var(--mdc-theme-grid-base) / 2) var(--mdc-theme-grid-base);
	font-size: var(--mdc-theme-font-size-small);
	line-height: calc(var(--mdc-tooltip-font-size) * 1.6);
	white-space: nowrap;
}

.bottom .content {
	transform: translate(-50%, calc(100% + var(--mdc-theme-grid-base)));
}

.top .content {
	transform: translate(-50%, calc(-100% - var(--mdc-theme-grid-base)));
}

.left .content {
	transform: translate(calc(-100% - var(--mdc-theme-grid-base)), -50%);
}

.right .content {
	transform: translate(calc(100% + var(--mdc-theme-grid-base)), -50%);
}
