.root {
	composes: mdc-top-app-bar from '@material/top-app-bar/dist/mdc.top-app-bar.css';
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 64px;
}

.title {
	composes: mdc-top-app-bar__title from '@material/top-app-bar/dist/mdc.top-app-bar.css';
}

.actions {
	padding-right: 20px;
}
