.root {
	font-family: var(--mdc-theme-font-family);
	color: var(--mdc-text-color);
	height: 100%;
}

.small {
	width: calc(var(--mdc-theme-grid-base) * 40);
}

.divider {
	width: var(--mdc-divider-width);
	background-color: var(--mdc-border-color);
	border-left: calc(var(--mdc-theme-grid-base) * 0.5) solid var(--mdc-theme-background);
	border-right: calc(var(--mdc-theme-grid-base) * 0.5) solid var(--mdc-theme-background);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: col-resize;
	transition: all var(--mdc-medium-transition-duration) var(--mdc-transition-easing)
		var(--mdc-transition-duration);
}

.divider:hover,
.divider:focus,
.divider:active {
	border-left: calc(var(--mdc-theme-grid-base) * 0.5) solid var(--mdc-solid-border-color-hover);
	border-right: calc(var(--mdc-theme-grid-base) * 0.5) solid var(--mdc-solid-border-color-hover);
}
