:root {
	--mdc-theme-primary: rgb(0, 142, 231); /* The theme primary color */
	--mdc-theme-secondary: rgb(169, 49, 182); /* The theme secondary color */
	--mdc-theme-background: #fff; /* The theme background color */
	--mdc-theme-surface: #fff; /* The theme surface color */
	--mdc-theme-on-primary: #fff; /* Text color on top of a primary background */
	--mdc-theme-on-secondary: #fff; /* Text color on top of a secondary background */
	--mdc-theme-on-surface: #000; /* Text color on top of a surface background */
}
