:root {
	--mdc-theme-primary: rgb(0, 142, 231); /* The theme primary color */
	--mdc-theme-secondary: rgb(169, 49, 182); /* The theme secondary color */
	--mdc-theme-background: #fff; /* The theme background color */
	--mdc-theme-surface: #fff; /* The theme surface color */
	--mdc-theme-on-primary: #fff; /* Text color on top of a primary background */
	--mdc-theme-on-secondary: #fff; /* Text color on top of a secondary background */
	--mdc-theme-on-surface: #000; /* Text color on top of a surface background */
	--mdc-theme-background-active: #f1f1f1;
	--mdc-theme-background-selected: #e1e1e1;
	--mdc-theme-popup-border-radius: 4px;
	--mdc-theme-popup-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
		0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

	--zindex-dialog: 400;
}
