.breadcrumb {
	composes: listFixed from '@dojo/widgets/breadcrumb-group/styles/breadcrumb-group.m.css';
}

.crumb {
	align-items: center;
	display: flex;
	margin-right: 0.75rem;
}

.crumb:last-child {
	margin-right: 0;
}

.icon {
	line-height: inherit;
	margin-right: 0.5rem;
}

.current {
	font-weight: bold;
}
