.container {
	box-sizing: border-box;
	position: relative;
}

.menu {}

.menuItem {
	cursor: pointer;
	display: block;
}

.menuLabel {
	composes: menuItem;
}

.disabled {
	cursor: default;
}

/**
 * Selected menu items.
 */
.selected {}

.nestedMenuContainer,
.nestedMenu {
	width: 100%;
}

.subMenu {
	overflow: hidden;
	transition: height 0.5s ease-in-out;
}

.hidden { height: 0; }
.visible { height: auto; }
