@import '../../../styles/animations.css';
@import '../../../styles/variables.css';

.main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #FFF;
	width: 450px;
	min-height: 250px;
	overflow: hidden;
	max-width: calc(100% - 30px);
	font: var(--base-font);
	box-shadow: var(--subtle-shadow);
	border-radius: var(--rounded-corners);
}

.underlay {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
}

[data-underlay="true"] .underlay {
	background: var(--dojo-shade-gray);
}

.title {
	position: relative;
	background-color: var(--dojo-blue);
	font-size: var(--title-font-size);
	color: var(--dojo-white);
	padding: var(--content-padding);
}

.content {
	padding: 14px 35px;
}

.close {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 35px;
	cursor: pointer;
}
