@import '../../common/styles/variables.css';

.root {
	display: block;
	font: var(--base-font);
	margin-bottom: var(--line-spacing);
}

.inputWrapper {
	max-width: 100%;
  position: relative;
	width: 500px;
}

.track {
	background-color: var(--dojo-light-gray);
	border: 1px solid var(--input-border-color);
	border-radius: var(--rounded-corners);
	height: 8px;
	position: relative;
	width: 100%;
}

.fill {
	background-color: var(--input-highlight-color);
	border-radius: var(--rounded-corners);
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	top: 0;
}

.thumb {
	background-color: var(--input-highlight-color);
	border-radius: 50%;
	box-shadow: inset 0 0 3px 0 var(--dojo-shade-gray);
	height: 24px;
	left: 50%;
	margin-left: -12px;
	position: absolute;
	top: -8px;
	width: 24px;
}
.thumb::before {
	background-color: var(--dojo-light-gray);
	border-radius: 50%;
	box-shadow: 0 0 3px 0 var(--dojo-shade-gray);
	content: "";
	height: 12px;
	left: 6px;
	position: absolute;
	top: 6px;
	width: 12px;
}

.input:focus ~ .track .thumb {
	box-shadow: var(--input-focus-shadow);
}

.output {
	position: absolute;
}

/* disabled and readonly styles */
.disabled .inputWrapper::before,
.readonly .inputWrapper::before {
	border-color: var(--input-border-color);
}

/* required style, only applies to inputs with a label */
.required span::after {
	content: '*';
	color: var(--dojo-error-color);
}

/* invalid style */
.invalid .inputWrapper::before {
	border-color: var(--dojo-error-color);
}
.invalid .inputWrapper::after {
	background-color: var(--dojo-error-color);
}

/* valid style */
.valid .inputWrapper::before {
	border-color: var(--dojo-success-color);
}
.valid .inputWrapper::after {
	background-color: var(--dojo-success-color);
}

/* Make native input invisible */
.input {
	appearance: none;
	background: transparent;
	border: 0 none;
	color: transparent;
	height: 100%;
	left: 0;
	margin: 0px;
	overflow: visible;
	padding: 0px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

/* invisible native track */
.input::-ms-track {
	appearance: none;
	background: transparent;
	border: 0 none;
	color: transparent;
	height: 100%;
	margin: 0px;
	overflow: visible;
	padding: 0px;
	width: 100%;
}
.input::-moz-range-track {
	appearance: none;
	background: transparent;
	border: 0 none;
	color: transparent;
	height: 100%;
	margin: 0px;
	overflow: visible;
	padding: 0px;
	width: 100%;
}
.input:focus::-webkit-slider-runnable-track {
	background: transparent;
	border: transparent;
}
.input:focus {
	outline: none;
}

/* thumb needs to be invisible and same size as custom thumb */
.input::-ms-thumb {
	border-radius: 12px;
	border: 0 none;
	background: transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}
.input::-moz-range-thumb {
	border-radius: 12px;
	border: 0 none;
	background: transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}
.input::-webkit-slider-thumb {
	appearance: none;
	border-radius: 12px;
	border: 0 none;
	background: transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

/* microsoft IE10+ and Edge - eliminates default fills before and after thumb */
.input::-ms-fill-lower {
	background: transparent;
	border: 0 none;
}
.input::-ms-fill-upper {
	background: transparent;
	border: 0 none;
}
.input::-ms-tooltip {
	display: none;
}
