@import '../../common/styles/variables.css';

.rootFixed {
	align-content: stretch;
	align-items: stretch;
	display: flex;
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.rowFixed {
	flex-direction: column;
}

.dividerFixed {
	background-clip: padding-box;
	cursor: pointer;
	flex: 0 0 auto;
	position: relative;
	z-index: calc(var(--zindex-tooltip) - 1);
}

.dividerFixed::after {
	content: "";
	position: absolute;
}

.leadingFixed {
	flex: 0 0 auto;
}

.columnFixed > .dividerFixed {
	width: 1px;
	cursor: ew-resize;
}

.columnFixed > .dividerFixed::after {
	height: 100%;
	left: -10px;
	top: 0;
	width: 21px;
}

.rowFixed > .dividerFixed {
	height: 1px;
	cursor: ns-resize;
}

.rowFixed > .dividerFixed::after {
	height: 21px;
	top: -10px;
	left: 0;
	width: 100%;
}

.trailingFixed {
	flex: 1 1 0%;
}

.trailingFixed, .leadingFixed {
	overflow: auto;
}

.rootFixed.collapsedFixed {
	display: block;
	overflow: auto;
}
