@import 'variables.css';

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	animation-duration: var(--short-animation-duration);
	animation-fill-mode: both;
	animation-name: fadeIn;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fadeOut {
	animation-duration: var(--short-animation-duration);
	animation-fill-mode: both;
	animation-name: fadeOut;
}

@keyframes pulse {
	0% { 
		transform: scale(0);
	}
	100% {
		transform: scale(1.0);
		opacity: 0;
	}
}

.pulse {
	animation-duration: var(--short-animation-duration);
	animation-fill-mode: both;
	animation-name: fadeOut;
	animation-iteration-count: infinite;
	
}