@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	animation-duration: var(--short-animation-duration);
	animation-fill-mode: both;
	animation-name: fadeIn;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fadeOut {
	animation-duration: var(--short-animation-duration);
	animation-fill-mode: both;
	animation-name: fadeOut;
}
