.root,
.root:before,
.root:after {
	box-sizing: border-box;
	font: var(--font-family);
}

.text {
	background-color: var(--color-background);
	border: var(--border-width) solid var(--color-border);
	cursor: pointer;
	display: inline-flex;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	min-width: calc(var(--grid-base) * 20);
	padding: var(--spacing-regular);
	transition: box-shadow var(--transition-duration) var(--transition-easing);
	margin: 0;
}

.text:hover,
.text:focus {
	border-color: var(--color-highlight);
	box-shadow: var(--box-shadow-dimensions-small) var(--color-box-shadow-highlight);
	outline: none;
}

.iconOnly {
	min-width: 0;
}

.root.iconOnly {
	min-width: 0;
	padding: 3px var(--spacing-regular);
}

.text.disabled,
.text.disabled:hover {
	background-color: var(--color-background-faded);
	border-color: var(--color-border);
	box-shadow: none;
	color: var(--color-text-faded);
	cursor: default;
}

.outlined {
	background-color: var(--color-background);
	border: var(--border-width) solid var(--color-highlight);
	color: var(--color-highlight);
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	font-size: var(--font-size-base);
	font-weight: bold;
	line-height: var(--line-height-base);
	min-width: calc(var(--grid-base) * 20);
	padding: var(--spacing-regular);
	margin: 0;
	font-family: var(--font-family);
}

.outlined:focus {
	outline: none;
}

.outlined:hover {
	background-color: var(--color-highlight);
	color: var(--color-text-inverted);
	outline: none;
}

.outlined.root:hover .label {
	color: var(--color-text-inverted);
}

.outlined.disabled,
.outlined.disabled:hover {
	background-color: initial;
	border-color: var(--color-border);
	color: var(--color-text-faded);
	cursor: default;
}

.outlined.disabled:hover .label {
	color: var(--color-text-faded);
}

.contained {
	font-family: var(--font-family);
	border: 0;
	box-shadow: var(--box-shadow-dimensions-small) var(--color-box-shadow);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	font-size: inherit;
	line-height: var(--line-height-base);
	min-width: calc(var(--grid-base) * 20);
	padding: var(--spacing-regular);
	background-color: var(--color-background);
}

.contained:hover,
.contained:focus {
	box-shadow: var(--box-shadow-dimensions-small) var(--color-box-shadow-highlight);
}

.contained.disabled:hover {
	box-shadow: var(--box-shadow-dimensions-small) var(--color-box-shadow);
}

.label {
	color: var(--color-highlight);
	font-size: var(--font-size-base);
	font-weight: bold;
	line-height: var(--line-height-base);
}

.icon {
	display: inline-flex;
}

.label + .icon {
	margin-left: var(--grid-base);
}

.icon + .label {
	margin-left: var(--grid-base);
}
