.root {
	font-family: var(--font-family);
}

.value {
	margin: 2px;
}

.selectedIcon {
	margin-right: calc(var(--spacing-regular) / 2);
}

.root .input {
	flex-grow: 1;
	min-width: 100px;
	width: 100px;
}

.root .inputLeading {
	display: block;
	pointer-events: unset;
	position: static;
	transform: none;
	max-width: 100%;
}

.root .inputWrapper {
	display: flex;
	flex-wrap: wrap;
}

.values {
	margin-top: var(--spacing-regular);
}

.root.hasValue .wrapper {
	height: auto;
	flex-flow: row wrap;
}

.root .inputLeadingWrapper {
	width: 100%;
	display: inline-block;
}

.root .inputLeading {
	border-right-width: 1px;
	border-right-style: solid;
	border-bottom: none;
}

.root.hasValue .input {
	display: inline-block;
	width: 100%;
	border-left-width: 1px;
	border-left-style: solid;
	border-top: none;
}
