.root {
	height: 45px;
	background-color: var(--color-background-faded);
}

.details {
	margin-left: 5px;
	color: var(--color-text-primary);
}

.more {
	height: 26px;
	min-width: 26px;
	color: var(--color-background-inverted);
	margin: 2px;
	text-align: center;
	user-select: none;
}

.pageNav,
.pageNumber {
	background-color: var(--color-background-faded);
	border-radius: 4px;
	border: 0;
	color: var(--color-text-primary);
	cursor: pointer;
	font-size: inherit;
	height: 26px;
	margin: 2px;
	min-width: 26px;
	padding: 0;
	text-align: center;
}

.active {
	color: var(--color-background-inverted);
}
