@font-face {
	font-family: 'dojo2BaseTheme';
	src: url('./fonts/dojo2BaseTheme.ttf?nocf9g') format('truetype'),
		url('./fonts/dojo2BaseTheme.woff?nocf9g') format('woff'),
		url('./fonts/dojo2BaseTheme.svg?nocf9g#dojo2') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'dojo2BaseTheme' !important;
	speak: none;
	font-size: inherit;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: inherit;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.clockIcon:before {
	content: '\e94e';
}
.eyeIcon:before {
	content: '\f06e';
}
.eyeSlashIcon:before {
	content: '\f070';
}
.plusIcon:before {
	content: '\e145';
}
.minusIcon:before {
	content: '\e15b';
}
.checkIcon:before {
	content: '\e5ca';
}
.closeIcon:before {
	content: '\e5cd';
}
.leftIcon:before {
	content: '\e314';
}
.rightIcon:before {
	content: '\e315';
}
.upIcon:before {
	content: '\e316';
}
.downIcon:before {
	content: '\e313';
}
.upAltIcon:before {
	content: '\e5c7';
}
.downAltIcon:before {
	content: '\e5c5';
}
.searchIcon:before {
	content: '\e8b6';
}
.barsIcon:before {
	content: '\e5d2';
}
.settingsIcon:before {
	content: '\e8b8';
}
.alertIcon:before {
	content: '\e002';
}
.helpIcon:before {
	content: '\e887';
}
.infoIcon:before {
	content: '\e88e';
}
.cancelIcon:before {
	content: '\ea0d';
}
.checkedBoxIcon:before {
	content: '\ea52';
}
.phoneIcon:before {
	content: '\e0cd';
}
.editIcon:before {
	content: '\e254';
}
.dateIcon:before {
	content: '\e916';
}
.linkIcon:before {
	content: '\e157';
}
.locationIcon:before {
	content: '\e8b4';
}
.secureIcon:before {
	content: '\e899';
}
.mailIcon:before {
	content: '\e0e1';
}
.starIcon:before {
	content: '\e900';
}
