.root {
	padding: var(--spacing-regular);
	border: 1px solid transparent;
	color: var(--color-text-primary);
	font-family: var(--font-family);
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	align-items: center;
	justify-content: flex-start;
	height: calc(var(--grid-base * 5.5));
	display: flex;
}

.active {
	border: 1px solid var(--color-highlight-border);
}

.selected {
	background: var(--color-background-faded);
}

.disabled {
	color: var(--color-text-faded);
	font-style: italic;
}
