.root {
	padding: var(--spacing-large);
}

.field {
	margin-bottom: var(--spacing-large);
}

.forgotPassword {
	margin-top: var(--spacing-large);
	text-align: center;
}

.register {
	margin-top: var(--spacing-large);
	text-align: center;
}

.buttonHolder {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
