.root {
	background-color: var(--color-background);
	border: var(--border-width) solid var(--color-highlight);
	color: var(--color-highlight);
	cursor: pointer;
	display: inline-block;
	font-size: var(--font-size-base);
	font-weight: bold;
	line-height: var(--line-height-base);
	min-width: calc(var(--grid-base) * 20);
	padding: var(--spacing-regular);
	margin: 0;
	font-family: var(--font-family);
}

.root:hover {
	background-color: var(--color-highlight);
	color: var(--color-text-inverted);
	outline: none;
}

.pressed {
	background-color: var(--color-highlight);
	border-color: var(--color-highlight);
	color: var(--color-text-inverted);
}

.root:hover .label {
	color: var(--color-text-inverted);
}

.disabled,
.disabled:hover {
	background-color: initial;
	border-color: var(--color-border);
	color: var(--color-text-faded);
	cursor: default;
}

.disabled:hover .label {
	color: var(--color-text-faded);
}
