.root {
	composes: root from './text-input.m.css';
	font-family: var(--font-family);
}

.toggleButton {
	background: none;
	border: none;
	color: inherit;
	font-size: inherit;
	min-width: unset;
	padding: 0;
	cursor: pointer;
}

.toggleButton:hover,
.toggleButton:focus {
	box-shadow: none;
}
