.root {
	composes: root from './text-input.m.css';
}

.togglePasswordButton {
	min-width: unset;
	background: none;
	border: none;
}

.togglePasswordButton:hover,
.togglePasswordButton:focus {
	box-shadow: none;
}

.trailing {
	composes: trailing from './text-input.m.css';
}

.root .trailing {
	background: none;
	padding-top: 0;
	padding-bottom: 0;
}
