.root {
	box-shadow: var(--box-shadow-dimensions-small) var(--color-box-shadow);
}

.root:hover,
.root:focus {
	box-shadow: var(--box-shadow-dimensions-small) var(--color-box-shadow-highlight);
}

.disabled:hover {
	box-shadow: var(--box-shadow-dimensions-small) var(--color-box-shadow);
}
