.root {
	font-family: var(--font-family);
	border: 0;
	box-shadow: var(--box-shadow-dimensions-small) var(--color-box-shadow);
	font-size: inherit;
	line-height: var(--line-height-base);
	min-width: calc(var(--grid-base) * 20);
	padding: var(--spacing-regular);
	background-color: var(--color-background);
}

.pressed {
	background-color: var(--color-highlight);
	border-color: var(--color-highlight);
	color: var(--color-text-inverted);
}

.label {
	color: var(--color-highlight);
	font-size: var(--font-size-base);
	font-weight: bold;
	line-height: var(--line-height-base);
}

.pressed .label {
	color: var(--color-text-inverted);
}

.root:hover,
.root:focus {
	box-shadow: var(--box-shadow-dimensions-small) var(--color-box-shadow-highlight);
}

.disabled:hover {
	box-shadow: var(--box-shadow-dimensions-small) var(--color-box-shadow);
}
