.root {
	display: inline-block;
}

.icon {
	cursor: pointer;
	transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
}

.checked {
	color: var(--color-alert);
	fill: var(--color-alert);
}

.focused {
}

.focused .focusedStar {
	outline: 1px solid var(--color-highlight);
}
