.root {
	box-sizing: border-box;
	color: var(--color-text-primary);
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
	font-family: var(--font-family);
}

.root:not(.fixed) .tabButton {
	min-width: 90px;
	max-width: 360px;
	flex-grow: 0;
}

.tabButtons {
	display: flex;
}

.root.fixed .tabButton {
	width: var(--tab-width);
	flex: 1;
}

.tabButton {
	border-bottom: var(--border-width) solid var(--tab-button-disabled-color);
	border-left: var(--border-width) solid transparent;
	border-right: var(--border-width) solid transparent;
	border-top: var(--border-width) solid transparent;
	color: var(--tab-button-color);
	cursor: pointer;
	display: flex;
	outline: none;
	overflow: hidden;
	padding: calc(var(--grid-base) * 2) calc(var(--grid-base) / 2);
	position: relative;
	justify-content: center;
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
	margin: 0;
	background-color: var(--tab-button-background);
}

.tabButtonContent {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tabButton:hover:not(.disabledTabButton):not(.activeTabButton) {
	background-color: var(--color-background-faded);
	border-color: var(--color-background-faded);
	color: var(--color-text-primary);
}

.tabButton:focus:not(.disabledTabButton) {
	border-color: var(--tab-button-active-color);
	box-shadow: var(--box-shadow-dimensions-small) var(--color-box-shadow-highlight);
}

.activeTabButton {
	border-bottom-color: var(--tab-button-active-color);
	color: var(--tab-button-active-color);
}

.activeTabButtonLabel {
	color: var(--tab-button-active-color);
}

.disabledTabButton {
	color: var(--tab-button-disabled-color);
	cursor: default;
}

.close {
	background: none;
	border: none;
	color: inherit;
	cursor: pointer;
	font-size: 0;
	padding: 1px 3px;
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
}

.closeable {
	padding-right: calc(var(--font-size-small) + 6px);
}

.tab {
	position: relative;
	background-color: var(--tab-content-background);
}

.alignLeft .tabs {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - var(--tab-width));
}

.alignLeft .tabButtons {
	display: inline-block;
	vertical-align: top;
}

.alignLeft .tabButton {
	border-bottom: var(--border-width) solid transparent;
	border-left: var(--border-width) solid transparent;
	border-right: var(--border-width) solid var(--tab-button-disabled-color);
	border-top: var(--border-width) solid transparent;
	display: block;
}

.alignLeft .activeTabButton {
	border-right-color: var(--tab-button-active-color);
	color: var(--tab-button-active-color);
}

.alignRight .tabs {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - var(--tab-width));
}

.alignRight .tabButtons {
	display: inline-block;
	vertical-align: top;
}

.alignRight .tabButton {
	border-bottom: var(--border-width) solid transparent;
	border-left: var(--border-width) solid var(--tab-button-disabled-color);
	border-right: var(--border-width) solid transparent;
	border-top: var(--border-width) solid transparent;
	display: block;
}

.alignRight .activeTabButton {
	border-left-color: var(--tab-button-active-color);
	color: var(--tab-button-active-color);
}

.alignBottom .tabButton {
	border-bottom-color: transparent;
	border-top-color: var(--tab-button-disabled-color);
}

.alignBottom .activeTabButton {
	border-bottom-color: transparent;
	border-top-color: var(--tab-button-active-color);
}
