@import './variables.css';

.root {
}

.input {
}

.toggleMenuButton {
	background: none;
	border: none;
	color: inherit;
	font-size: inherit;
	min-width: unset;
	padding: 0;
}

.toggleMenuButton:hover,
.toggleMenuButton:focus {
	box-shadow: none;
}

.popup {
	display: inline-block;
	background: var(--color-background);
}

.inputTrailing {
	composes: trailing from './text-input.m.css';
	background: none;
	padding-bottom: 0;
	padding-top: 0;
}
