.root {
	padding-left: 0;
}

.node {
	list-style-type: none;
	width: 100%;
}

.contentWrapper {
	display: flex;
}

.spacer {
	width: calc(var(--grid-base) * 6);
}

.content {
	align-items: center;
	box-sizing: content-box;
	display: flex;
	padding: 0 4px;
}

.disabled {
	color: var(--color-text-faded);
}

.leaf .content {
	margin-left: 15px;
}

.title {
	align-items: center;
	display: flex;
	flex-grow: 1;
}

.icon {
	align-items: center;
	display: flex;
	margin-right: 5px;
}

.expander {
	margin-right: 5px;
}

.children {
	padding-left: 0px;
	width: 100%;
}
