@import '../../common/styles/variables.css';

.root {}

.underlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.underlayVisible {
	background: var(--underlay-background);
}

.paneFixed {
	height: 100%;
	position: fixed;
	top: 0;
	box-sizing: border-box;
	z-index: 1;
}

.pane {
	background-color: var(--component-background);
}

.content { }

.title {
	position: relative;
}

.close {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 35px;
	cursor: pointer;
	font-size: 0;
	border: none;
	background: none;
}

.close i {
	font-size: 14px;
}

.leftFixed {
	left: 0;
	transform: translateX(-100%)
}

.rightFixed {
	right: 0;
	transform: translateX(100%);
}

.leftFixed.slideOutFixed {
	transform: translateX(-100%) !important;
}

.rightFixed.slideOutFixed {
	transform: translateX(100%) !important;
}

.leftFixed.slideInFixed {
	transform: translateX(0%) !important;
}

.rightFixed.slideInFixed {
	transform: translateX(0%) !important;
}

.left.slideOut {
	transition: transform ease-in-out var(--short-animation-duration);
}

.right.slideOut {
	transition: transform ease-in-out var(--short-animation-duration);
}

.left.slideIn {
	transition: transform ease-in-out var(--short-animation-duration);
}

.right.slideIn {
	transition: transform ease-in-out var(--short-animation-duration);
}

.open { }

.openFixed {
	transform: translateX(0%);
}
