.icon {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'dojo2' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.downIcon:before {
  content: "\f078";
}

.leftIcon:before {
  content: "\f053";
}

.rightIcon:before {
  content: "\f054";
}

.closeIcon:before {
  content: "\f00d";
}
