@import './variables.css';

.root {
	border-bottom: 1px solid var(--border-color);
	border-spacing: 0px;
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: scroll;
	background: var(--background-color);
	color: var(--body-color);
	box-sizing: border-box;
}
