@import './variables.css';

.root {
	flex: 1 100%;
	border: 1px solid var(--border-color);
	border-top-style: none;
	border-right-style: none;
	padding: var(--cell-padding);
	align-items: center;
	min-width: 100px;
	display: flex;
}

.input {
	outline: none;
	background: var(--header-background-color);
	font-family: var(--font-family);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 200;
	font-size: var(--font-size);
	color: var(--header-color);
}
