@import './variables.css';

.root {
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	background: var(--background-color);
	font-family: var(--font-family);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 200;
	font-size: var(--font-size);
	height: 100%;
	box-sizing: border-box;
}
