@import './variables.css';

.root {
	display: flex;
}

.cell {
	flex: 1 100%;
	border: 1px solid var(--border-color);
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	font-weight: 600;
	padding: var(--header-padding);
	display: flex;
	align-items: center;
	flex-direction: column;
	user-select: none;
	min-width: 100px;
}

.sortable {
	cursor: pointer;
}

.sorted {
	color: var(--sort-color);
}

.desc {}

.asc {}

.sort {
	margin-left: 4px;
	opacity: 0;
}

.sort:focus,
.sorted .sort {
	opacity: 1;
}

.filter {
	margin-top: 4px;
	width: 100%;
	box-sizing: border-box;
	font-family: var(--font-family);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 200;
	font-size: var(--font-size);
	color: var(--header-color);
	padding: 2px 4px;
}
