@import '../../common/styles/variables.css';

.containerFixed {
	position: static;
}

.actionsFixed {
	display: flex;
	flex: 1;
	justify-content: flex-end;
}

.menuButtonFixed {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.rootFixed {
	display: flex;
	left: 0;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: var(--zindex-fixed);
}

.onBottomFixed {
	bottom: 0;
	top: auto;
}

.stickyFixed {
	position: fixed;
}

.titleFixed {
	flex-grow: 0;
	flex-shrink: 0;
}

.onTopFixed {
	top: 0;
}
