@import '../../common/styles/variables.css';

.actionsFixed {
	display: flex;
	flex: 1;
	justify-content: flex-end;
}

.menuButtonFixed {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.rootFixed {
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: var(--zindex-fixed);
}

.toolbarFixed {
	display: flex;
	position: relative;
}

.stickyFixed .toolbarFixed {
	flex-grow: 0;
	flex-shrink: 0;
}

.onBottomFixed .toolbarFixed {
	order: 1;
}

.stickyFixed {
	display: flex;
	flex-direction: column;
}

.titleFixed {
	flex-grow: 0;
	flex-shrink: 0;
}

.stickyFixed .contentFixed {
	flex: 1;
	overflow-y: auto;
}

.onBottomFixed .contentFixed {
	order: 0;
}

.onTopFixed {}
