.root {
}

.current {
}

.listFixed {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.list {
}

.listItem {
	display: flex;
}

.withTextSeparator {
	padding-left: 1.5rem;
}

.withTextSeparator::before {
	content: attr(data-separator);
	position: relative;
	right: 0.75rem;
}

.withTextSeparator:first-child {
	padding-left: 0;
}

.withTextSeparator:first-child::before {
	content: '';
}
