@import '../../../styles/variables.css';

.main {
	overflow: hidden;
}

.title {
	background-color: var(--title-bar-bg);
	border-color: var(--title-bar-bg);
	border-style: solid;
	border-width: var(--border-thin);
	color: var(--title-bar-color);
	font-size: var(--title-bar-font-size);
	padding: var(--title-padding);
}

.closeable {
	cursor: pointer;
}

.content {
	border-color: var(--title-bar-bg);
	border-style: solid;
	border-width: var(--border-thin);
	padding: var(--container-padding);
}
