@import '../../../styles/variables.css';

:root {
	--title-panel-border-width: 1px;
	--title-panel-padding: 5px;
}

.main {
	overflow: hidden;
}

.title {
	background-color: var(--title-bar-bg);
	border-color: var(--title-bar-bg);
	border-style: solid;
	border-width: var(--title-panel-border-width);
	color: var(--title-bar-color);
	font-size: var(--title-font-size);
	padding: var(--title-panel-padding);
}

.collapsible {
	cursor: pointer;
}

.content {
	border-color: var(--title-bar-bg);
	border-style: solid;
	border-width: var(--title-panel-border-width);
	padding: var(--content-padding);
}
