@import '../common/styles/variables.css';

.root {
	box-sizing: border-box;
	display: inline-block;
}

.root *, .root *:before, .root *:after {
	box-sizing: inherit;
}

.inactiveDate {
	background-color: var(--disabled-color);
}

.outOfRange {}

.selectedDate {
	background-color: var(--selected-background);
	color: var(--selected-color);
}

.todayDate {}

.date {
	cursor: pointer;
	padding: 10px 20px;
	text-align: center;
}

.date:hover {
	background-color: var(--disabled-color); /* TODO: better hover color variable? */
}

/* Date grid */
.dateGrid {}

.weekday {
	padding: 10px 20px;
	text-align: center;
}

.weekday {
	color: var(--disabled-color);
	font-weight: normal;
	text-transform: uppercase;
}

/* Date picker  */
.datePicker { }
.topMatter { }
.monthTrigger { }
.yearTrigger { }
.controls { }
.previous { }
.next { }
.monthGrid { }
.monthFields { }
.yearGrid { }
.yearFields { }
.monthRadio { }
.yearRadio { }
.monthRadioChecked { }
.yearRadioChecked { }
.monthRadioInput { }
.monthRadioLabel { }
.yearRadioInput { }
.yearRadioLabel { }
.monthTriggerActive { }
.yearTriggerActive { }
