@import '../common/styles/variables.css';

.addon {
	flex: 0 0 auto;
}

.addonAfter { }

.addonBefore { }

.input {
	composes: input from './text-input.m.css';
	flex: 1 1 auto;
}

.invalid {
	composes: invalid from './text-input.m.css';
}

.helperTextWrapper {
	composes: helperTextWrapper from './text-input.m.css';
}

.helperText {
	composes: helperText from './text-input.m.css';
}

.inputWrapper { }

.inputWrapperInner {
	display: flex;
}
