@import '../common/styles/variables.css';

.root {
	border-top: 1px solid var(--component-color);
	border-bottom: 1px solid var(--component-color);
	background: var(--component-background);
}

.header {
	border-bottom: 1px solid var(--component-color);
	background: var(--component-background);
	color: var(--component-color);
	height: 32px;
}

.filterGroup {
	height: 64px;
}
