.root {
	background: white;
	padding: 10px;
	border: 1px solid transparent;
	box-sizing: border-box;
	height: 45px;
}

.selected,
.selected {
	background: grey;
}

.active {
	border: 1px solid blue;
}

.disabled {
	color: grey;
	font-style: italic;
}
