/* Root class of each menu item */
.item {
	background: white;
	padding: 10px;
	border: 1px solid transparent;
	box-sizing: border-box;
	height: 45px;
}

/* Added to selected items */
.itemSelected {
	background: grey;
}

/* Added to active items */
.itemActive {
	border: 1px solid blue;
}

/* Added to disabled items */
.itemDisabled {
	color: grey;
	font-style: italic;
}
