@import "../common/styles/variables.css";

:root {
	--slider-height: 13px;
}

.root {
	padding-bottom: calc(var(--slider-height) / 2);
}

.hasOutput {
	padding-bottom: calc(calc(var(--slider-height) / 2) + var(--slider-height));
}

.inputWrapper {
	height: var(--slider-height);
	background-color: var(--component-background);
	border: 1px solid var(--selected-background);
}

.focused { }

.disabled .inputWrapper,
.readonly .inputWrapper {
	background-color: var(--disabled-color);
}

/* invalid style */
.invalid .inputWrapper {
	border-color: var(--error-color);
}
.invalid .thumb::before {
	background-color: var(--error-color);
}

/* valid style */
.valid .inputWrapper::before {
	border-color: var(--success-color);
}
.valid .inputWrapper::after {
	background-color: var(--success-color);
}

.focused .input {
	outline: none;
}

.focused .thumb.focused {
	box-shadow: 0 0 7px 3px var(--selected-background);
	border-color: white;
}

.thumb {
	background-color: #ffffff;
	border: 1px solid var(--selected-background);
	width: calc(var(--slider-height) * 2);
	height: calc(var(--slider-height) * 2);
	transform: translate(-50%, -25%);
}

.filled {
	background-color: var(--selected-background);
}

.input::-ms-thumb {
	height: 2em;
	width: 2em;
}

.input::-moz-range-thumb {
	height: 2em;
	width: 2em;
}

.input::-webkit-slider-thumb {
	height: 2em;
	width: 2em;
}

.outputTooltip {
	left: 2.5em;
	position: absolute;
	top: 0;
}

.output {
	display: block;
	margin-top: 16px;
}

.leftThumb {
}

.rightThumb {
}
