@import '../common/styles/variables.css';

.root { }

.outputTooltip {
	left: 2.5em;
	position: absolute;
	top: 2.5em;
}

/* vertical slider */
.vertical .input,
.vertical .track {
	transform-origin: 0 0;
	transform: rotate(-90deg) translate(-100%, 0);
}

/* disabled and readonly styles */
.disabled .track,
.readonly .track {
	background-color: var(--disabled-color);
}

/* invalid style */
.invalid .track {
	border-color: var(--error-color);
}
.invalid .thumb::before {
	background-color: var(--error-color);
}

/* valid style */
.valid .inputWrapper::before {
	border-color: var(--success-color);
}
.valid .inputWrapper::after {
	background-color: var(--success-color);
}

.focused { }

.inputWrapper {

}

.focused .input {
	outline: none;
}

.focused .thumb {
	box-shadow: 0 0 7px 3px var(--selected-background);
	border-color: white;
}

.track {
	background-color: var(--component-background);
	border: 1px solid var(--component-color);
	height: 0.75em;
}

.fill {
	background-color: var(--selected-background);
}

.input {
	height: 0.75em;
}

.input::-ms-thumb {
	height: 2em;
	width: 2em;
}

.input::-moz-range-thumb {
	height: 2em;
	width: 2em;
}

.input::-webkit-slider-thumb {
	height: 2em;
	width: 2em;
}

.thumb {
	background-color: var(--component-background);
	border: 1px solid var(--component-color);
	height: 2em;
	left: 50%;
	margin-left: -1em;
	top: -0.625em;
	width: 2em;
}

.output { }
