.root {
	/* composes: mdc-snackbar from '@material/snackbar/dist/mdc.snackbar.css'; */
	display: none;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	pointer-events: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin: 8px;
}

.content {
	/* composes: mdc-snackbar__surface from '@material/snackbar/dist/mdc.snackbar.css'; */
	display: flex;
	align-items: center;
	justify-content: flex-start;
	box-sizing: border-box;
	transform: scale(0.8);
	opacity: 0;
}

.label {
	/* composes: mdc-snackbar__label from '@material/snackbar/dist/mdc.snackbar.css'; */
	flex-grow: 1;
	box-sizing: border-box;
	margin: 0;
	padding: 14px 16px;
}

.actions {
	/* composes: mdc-snackbar__actions from '@material/snackbar/dist/mdc.snackbar.css'; */
	display: flex;
	flex-shrink: 0;
	align-items: center;
	box-sizing: border-box;
}

.open {
	/* composes: mdc-snackbar--open from '@material/snackbar/dist/mdc.snackbar.css'; */
	display: flex;
}

.open .content {
	transform: scale(1);
	opacity: 1;
	pointer-events: auto;
}

.success .actions {
	/* --mdc-theme-primary: var(--color-success); */
}

.error .actions {
	/* --mdc-theme-primary: var(--color-error); */
}
