@import '../common/styles/variables.css';

.root {
	display: none;
}

.content {
	display: flex;
	opacity: 0;
}

.label {
	flex-grow: 1;
	margin: 0;
}

.actions {
	display: flex;
	flex-shrink: 0;
}

.open {
	display: flex;
}

.open .content {
	opacity: 1;
}

.success .label {
	color: var(--success-color);
}

.error .label {
	color: var(--error-color);
}

.leading {
}
.stacked {
}
