@import '../common/styles/variables.css';

.input {}
.root {}
.inputWrapper {}
.disabled {}
.focused {}
.readonly {}
.required {}
.invalid {}

.helperTextWrapper {
}

.helperText {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.invalid .helperText {
	color: var(--error-color);
}

.invalid .input {
	border-color: var(--error-color);
}

.valid .input {
	border-color: var(--success-color);
}

