@import '../../../styles/variables.css';

.main {
	overflow: hidden;
}

.title {
	background-color: var(--title-bar-bg);
	border-color: var(--title-bar-bg);
	border-style: solid;
	border-width: 1px;
	color: var(--title-bar-color);
	font-size: var(--title-font-size);
	padding: 5px;
}

.collapsible {
	cursor: pointer;
}

.content {
	border-color: var(--title-bar-bg);
	border-style: solid;
	border-width: 1px;
	padding: var(--content-padding);
}
