@import '../../common/styles/variables.css';

.addon {
	flex: 0 0 auto;
}

.addonAfter { }

.addonBefore { }

.input {
	composes: input from '../../textinput/styles/textinput.m.css';
	flex: 1 1 auto;
}

.inputWrapper {
	display: flex;
}
