@import '../../common/styles/variables.css';

.rootFixed {
	align-content: stretch;
	align-items: stretch;
	display: flex;
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.root { }

.columnFixed {
	flex-direction: column;
}

.column { }

.dividerFixed {
	background-clip: padding-box;
	background: var(--component-color);
	cursor: pointer;
	flex: 0 0 auto;
}

.divider { }

.leadingFixed {
	flex: 0 0 auto;
}

.leading { }

.rowFixed > .dividerFixed {
	width: 1px;
	cursor: ew-resize;
}

.row { }

.columnFixed > .dividerFixed {
	height: 1px;
	cursor: ns-resize;
}

.trailingFixed {
	flex: 1 1 0%;
}

.trailing { }
