@import '../../../common/styles/variables.css';

.menu {
	background: #fff;
	box-shadow: 0 0 2px 1px rgba(0,0,0,0.3);
	font-family: sans-serif;
	font-size: 14px;
	padding: 5px 0;
}

.menuItem {
	color: var(--title-bar-bg);
	padding: 5px 10px;
}

.menuItem:focus,
.menuLabel:focus {
	box-shadow: inset var(--input-focus-shadow);
	outline: none;
}

.menuLabel {
	composes: menuItem;
}

.disabled {
	opacity: 0.3;
}

.selected {
	background-color: var(--title-bar-bg);
	color: #fff;
}

.subMenu {
	box-shadow: 0 0;
	box-sizing: border-box;
	padding: 0 15px;
}
