@import '../../common/styles/variables.css';

.root {
	display: block;
	font: var(--base-font);
	margin-bottom: var(--line-spacing);
	position: relative;
}

.input {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: calc(1.5em + 4px);
	height: calc(1.5em + 4px);
	margin: 0;
	z-index: 1;
}

.inputWrapper {
	position: relative;
	width: 1.5em;
	display: inline-block;
	vertical-align: middle;
	margin: 0 .8em;
}

.inputWrapper::before,
.inputWrapper::after {
	box-sizing: border-box;
	content: '';
	display: block;
}

.inputWrapper::before {
	border: 2px solid var(--input-highlight-color);
	height: 1.5em;
	width: 1.5em;
}

.inputWrapper::after {
	background-color: var(--input-highlight-color);
	height: calc(1.5em - 6px);
	left: 3px;
	position: absolute;
	top: 3px;
	transform: scale(0);
	transition: all var(--short-animation-duration) var(--short-animation-easing);
	width: calc(1.5em - 6px);
}

/* checked style */
.checked .inputWrapper::after {
	transform: scale(1);
}

/* disabled and readonly styles */
.disabled .inputWrapper::before,
.readonly .inputWrapper::before {
	border-color: var(--input-border-color);
}

/* required style, only applies to inputs with a label */
.required span::after {
	content: '*';
	color: var(--dojo-error-color);
}

/* invalid style */
.invalid .inputWrapper::before {
	border-color: var(--dojo-error-color);
}
.invalid .inputWrapper::after {
	background-color: var(--dojo-error-color);
}

/* valid style */
.valid .inputWrapper::before {
	border-color: var(--dojo-success-color);
}
.valid .inputWrapper::after {
	background-color: var(--dojo-success-color);
}

/* Toggle mode */
.toggle .inputWrapper {
	width: var(--toggle-width);
	overflow: hidden;
}

.toggle .input {
	width: var(--toggle-width);
}

.toggle .inputWrapper::before {
	width: var(--toggle-width);
	position: relative;
	background-color: var(--dojo-white);
	transition: background-color var(--short-animation-duration) var(--short-animation-easing);
}

.toggle .inputWrapper::after {
	transform: scale(1);
	left: auto;
	right: calc(100% - 1.5em + 3px);
}

.toggle.checked .inputWrapper::before {
	background-color: var(--dojo-light-blue);
}

.toggle.checked .inputWrapper::after {
	right: 3px;
}

.offLabel,
.onLabel {
	display: inline-block;
	vertical-align: middle;
}
