@import '../../common/styles/variables.css';

.main {
	overflow: hidden;
	box-sizing: border-box;
}

.main * {
	box-sizing: border-box;
}

.title {
	background-color: var(--title-bar-bg);
	border-color: var(--title-bar-bg);
	border-style: solid;
	border-width: var(--border-thin);
	color: var(--title-bar-color);
	font-size: var(--title-bar-font-size);
	padding: var(--title-padding);
	position: relative;
	z-index: 1;
}

.closeable {
	cursor: pointer;
}

.content {
	border-color: var(--title-bar-bg);
	border-style: solid;
	border-width: var(--border-thin);
	padding: var(--container-padding);
	transform: translateY(-100%);
	transition: transform ease-in-out var(--short-animation-duration);
}

.open {
	transform: translateY(0%);
}
