@import '../../common/styles/variables.css';

.rootFixed {
	overflow: hidden;
	box-sizing: border-box;
}

.rootFixed * {
	box-sizing: border-box;
}

.root { }

.open { }

.titleFixed {
	position: relative;
}

.title {
	background-color: var(--component-background);
}

.closeableFixed {
	cursor: pointer;
}

.closeable { }

.content {
	transition: margin-top ease-in-out var(--short-animation-duration);
}

.arrow { }

.titleButton { }
