.root {
	width: 100%;
	display: flex;
}

.nav {
	background: #009dff;
	position: fixed;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	z-index: 10;
}

.nav::-webkit-scrollbar {
	display: none;
}

.menuList {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
	height: auto;
	width: auto;
	background: none;
}

.menuItem {
	font-size: 15px;
	line-height: 24px;
	display: inline-block;
	text-decoration: none;
	position: relative;
	white-space: nowrap;
	padding: 10px 20px;
}

.menuLink {
	color: white;
}

.menuLink:hover {
	text-decoration: none;
	color: white;
}

.menuLink:hover::before {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 4px;
	background-color: rgba(18, 18, 18, 0.5);
}

.main {
	margin-top: 44px;
	display: flex;
	width: 100%;
}

.content {
	margin-right: 280px;
	margin-left: 20px;
	margin-bottom: 20px;
	min-width: 300px;
	width: 100%;
}

.menu {
	position: fixed;
	right: 0;
	width: 260px;
	height: 100%;
	box-sizing: border-box;
	border-left: 1px solid rgba(18, 18, 18, 0.2);
}

.columnMenuList {
}

.columnMenuItem {
	font-size: 14px;
	line-height: 1.65;
	color: #aaa;
	margin: 10px;
	padding: 5px 0;
	text-decoration: none;
	position: relative;
	list-style: none;
}

.columnMenuLink {
	color: #212329;
}

.columnMenuLinkSelected {
	font-weight: bold;
}

.selected::before {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 4px;
	background-color: #3c3f4a;
}

.menuLink::after {
	position: absolute;
	left: 0;
	content: '';
	width: 1px;
	height: 22px;
	background-color: rgba(18, 18, 18, 0.2);
}

@media (max-width: 768px) {
	.root {
		width: 100%;
		display: block;
	}

	.nav {
		position: inherit;
	}

	.main {
		margin-top: 0;
		display: block;
	}

	.content {
		margin-right: 20px;
	}

	.menu {
		background: white;
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		position: inherit;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}

	.menu::-webkit-scrollbar {
		display: none;
	}

	.columnMenuList {
		list-style: none;
		display: flex;
		padding: 0;
		margin: 0;
		height: auto;
		width: auto;
		background: none;
	}

	.columnMenuItem {
		font-size: 14px;
		line-height: 1.65;
		display: inline-block;
		text-decoration: none;
		position: relative;
		white-space: nowrap;
		margin: 0;
		padding: 10px 20px;
	}

	.columnMenuLink {
		color: black;
	}

	.columnMenuLink:hover {
		text-decoration: none;
	}

	.columnMenuLink::after {
		position: absolute;
		left: 0;
		content: '';
		width: 1px;
		height: 22px;
		background-color: rgba(18, 18, 18, 0.2);
	}
}
