.root {
	width: 100%;
	display: flex;
}
.main {
	margin-top: 44px;
	display: flex;
	width: 100%;
}

.content {
	margin-right: 280px;
	margin-left: 20px;
	margin-bottom: 20px;
	min-width: 300px;
	width: 100%;
}

@media (max-width: 1050px) {
	.root {
		width: 100%;
		display: block;
	}

	.nav {
		position: inherit;
	}

	.main {
		margin-top: 0;
		display: block;
	}

	.content {
		margin-right: 20px;
		width: auto;
	}
}
