@import './variables.css';

.root {
	width: 100%;
	display: flex;
	margin: 20px;
	flex-direction: column;
}

.title {
	text-align: center;
}

.search {
	text-align: center;
	font-size: 24px;
}

.searchWrapper {
	margin-bottom: 40px;
}

.searchWrapperOverwide, .searchWrapperOverwide:hover {
	border-color: unset;
	box-shadow: unset;
	border: unset;
}

.header {
	margin-left: 80px;
}

.container {
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 20px;
	margin-bottom: 60px;
}

.listItem {
	margin-bottom: var(--grid-size);
    text-decoration: underline;
    font-size: 16px;
}

.grid {
	display: grid;
	grid-gap: calc(var(--grid-size) * 4);
	grid-template-columns:
		calc((100% - calc(var(--grid-size) * 12)) * (1 / 4))
		calc((100% - calc(var(--grid-size) * 12)) * (1 / 4))
		calc((100% - calc(var(--grid-size) * 12)) * (1 / 4))
		calc((100% - calc(var(--grid-size) * 12)) * (1 / 4));
}

@media (max-width: 1240px) {
	.grid {
		grid-template-columns:
			calc((100% - calc(var(--grid-size) * 12)) * (1 / 2))
			calc((100% - calc(var(--grid-size) * 12)) * (1 / 2));
	}
}

@media (max-width: 850px) {
	.grid {
		grid-template-columns: 100%;
	}
}

.card {
	display: flex;
	align-items: center;
}

.header {
	background-color: var(--color-off-white);
	background-position: center;
	background-size: cover;
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	flex-grow: 0;
	flex-shrink: 0;
	/* min-height: 204px; */
}

.header:after {
	background: rgba(0, 0, 0, 0.05);
	content: '';
	width: 100%;
	display: block;
	height: 100%;
}

.card:hover .header:after {
	background: transparent;
}

.footer {
	border-top: 1px solid var(--color-border);
	flex-grow: 0;
	flex-shrink: 0;
	text-align: right;
}

.linkBtn {
	border-left: 1px solid var(--color-border);
	color: var(--font-color);
	display: inline-block;
	padding: calc(var(--card-padding) / 2) var(--card-padding);
	position: relative;
	z-index: 2;
	height: 44px;
}

.linkBtn:hover {
	box-shadow: 0 0 2px 0 var(--color-border);
	color: var(--font-color-hover);
}

.root .cardContent {
	margin-top: 1.33em;
	z-index: 2;
	padding: 0;
	margin: calc(var(--grid-size) * 1.5) var(--card-padding) var(--card-padding);
}
