:root {
	/* App Variables */
	--grid-size: 10px;
	--card-padding: calc(var(--grid-size) * 2);
	--card-hover-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05), 0 2px 15px rgba(0, 0, 0, 0.05),
		0 28px 50px rgba(0, 0, 0, 0.16);
}
