@import '../../common/styles/variables.css';

.root {
	display: block;
	position: relative;
}

.input {}
.inputWrapper {}
.checked {}
.disabled {}
.readonly {}

/* required style, only applies to inputs with a label */
.required span::after {
	content: '*';
	color: var(--error-color);
}

/* invalid style */
.invalid .inputWrapper::before {
	border-color: var(--error-color);
}
.invalid .inputWrapper::after {
	background-color: var(--error-color);
}

/* valid style */
.valid .inputWrapper::before {
	border-color: var(--success-color);
}
.valid .inputWrapper::after {
	background-color: var(--success-color);
}
