@import '../../common/styles/variables.css';

.input {
	border: 1px solid var(--dojo-shade-gray);
	padding: var(--input-padding);
}

.input:focus {
	border-color: var(--dojo-light-blue);
	box-shadow: var(--input-focus-shadow);
	outline: none;
}

.inputWrapper { }

.label {
	font: var(--base-font);
}

.label span {
	display: block;
	margin: var(--line-spacing) 0;
}

/* disabled and readonly styles */
.disabled .input,
.readonly .input {
	background-color: var(--dojo-off-white);
	color: var(--dojo-shade-gray);
}

/* required styles */
.required .input {
	border-left-width: 8px;
}
.required span::after {
	content: '*';
	color: var(--dojo-error-color);
}

/* TODO: this needs non-color invalid design as well */
.invalid .input {
	border-color: var(--dojo-error-color);
}

/* valid style */
.valid .input {
	border-color: var(--dojo-success-color);
}
