@import '../../common/styles/variables.css';

.input {}
.root {}

.root span {
	display: block;
}

.disabled {}
.readonly {}
.required {}

.required span::after {
	content: '*';
	color: var(--error-color);
}

.invalid .input {
	border-color: var(--error-color);
}

.valid .input {
	border-color: var(--success-color);
}
