@import '../../common/styles/variables.css';

.root {}

.main {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--component-background);
	width: 450px;
	overflow: hidden;
	max-width: calc(100% - 30px);
	z-index: 2;
}

.underlay {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
}

.underlayVisible {
	background: var(--underlay-background);
	z-index: 1;
}

.title {
	position: relative;
}

.content {}

.close {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 35px;
	cursor: pointer;
	font-size: 0;
	border: none;
	background: none;
}

.close i {
	font-size: 14px;
}
