@import '../../common/styles/variables.css';

.root {}

.inputWrapper {
	display: inline-block;
	position: relative;
}

/* custom input styles */
.trigger {
	background: var(--component-background);
	border: 1px solid var(--component-color);
	font-size: inherit;
	min-width: 200px;
	padding-right: 25px;
	position: relative;
	text-align: left;
}

.trigger i {
	position: absolute;
	right: 4px;
}

.trigger:focus {
	color: var(--selected-background);
}

.dropdown {
	background: var(--component-background);
	border: 1px solid var(--component-color);
	display: none;
	max-height: 400px;
	overflow-y: auto;
	position: absolute;
	width: 100%;
}

.open { }

.open .dropdown {
	display: block;
	z-index: var(--zindex-dropdown);
}

/* native input styles */
.input {
	appearance: none;
	background: var(--component-background);
	border: 1px solid var(--component-color);
	border-radius: 0;
	cursor: pointer;
	display: block;
	font-size: inherit;
	line-height: 1;
	max-width: 100%;
	padding: 2px 25px 2px 4px;
	transition: border var(--short-animation-duration) ease;
	width: 200px;
}

.input:focus {
	border-color: var(--selected-background);
}

.arrow {
	bottom: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 1.5em;
}

.arrow i {
	position: absolute;
	right: 4px;
	padding: 2px 0;
}


.input:focus ~ .arrow {
	color: var(--selected-background);
}

/* State classes */
.disabled .input,
.readonly .input {
	background-color: var(--disabled-color);
}

.invalid .input {
	border-color: var(--error-color);
}
.invalid .arrow {
	background-color: var(--error-color);
}

.valid .input {
	border-color: var(--success-color);
}
.valid .arrow {
	background-color: var(--success-color);
}

.required > span::after {
	content: '*';
	color: var(--error-color);
}
