@import '../../common/styles/variables.css';

.root {}

.inputWrapper {
	display: inline-block;
	perspective: 300px;
	position: relative;
}

/* custom input styles */
.trigger {
	font-size: inherit;
	min-width: 200px;
	padding: 0.75em 3.5em 0.75em 1em;
	position: relative;
	text-align: left;
	border: 1px solid var(--component-color);
	background: var(--component-background);
}

.trigger i {
	position: absolute;
	right: 4px;
	z-index: 1;
}

.trigger:focus {
	color: var(--selected-background);
}

.dropdown {
	opacity: 0;
	position: absolute;
	width: 100%;
	border: 1px solid var(--component-color);
	background: var(--component-background);
	max-height: 400px;
	overflow-y: auto;
}

.open {
	z-index: 2;
}

.open .dropdown {
	opacity: 1;
}

.option {
	background-color: #FFF;
	cursor: pointer;
	padding: 4px;
}

.disabledOption {
	background-color: var(--disabled-color);
	cursor: default;
}

.dropdown .focused,
.input:focus .focused {
	background-color: var(--selected-color);
}

.selected { }

/* native input styles */
.input {
	appearance: none;
	border-radius: 0;
	cursor: pointer;
	display: block;
	font-size: inherit;
	line-height: 1;
	max-width: 100%;
	padding: 2px 4px;
	transition: border var(--short-animation-duration) ease;
	border: 1px solid var(--component-color);
	background: var(--component-background);
	width: 200px;
}

.input:focus {
	border-color: var(--selected-background);
}

.nativeArrow {
	bottom: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 1.5em;
}

.nativeArrow i {
	position: absolute;
	right: 4px;
	z-index: 1;
	padding: 2px 0;
}


.input:focus ~ .nativeArrow {
	color: var(--selected-background);
}

/* State classes */
.disabled .input,
.readonly .input {
	background-color: var(--disabled-color);
}

.invalid .input {
	border-color: var(--error-color);
}
.invalid .nativeArrow {
	background-color: var(--error-color);
}

.valid .input {
	border-color: var(--success-color);
}
.valid .nativeArrow {
	background-color: var(--success-color);
}

.required > span::after {
	content: '*';
	color: var(--error-color);
}

.multiselect .input {
	padding: 0;
}

.multiselect .nativeArrow {
	display: none;
}
