.rootFixed {
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
}

.titleFixed {
	position: relative;
}

.titleButtonFixed {
	position: relative;
	z-index: 1;
}

.contentFixed {
	position: relative;
}

.closeableFixed {
	cursor: pointer;
}
