.rootFixed {
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
}

.rootFixed * {
	box-sizing: border-box;
}

.titleFixed {
	position: relative;
}

.contentFixed {
	position: relative;
	z-index: -1;
}

.closeableFixed {
	cursor: pointer;
}
