@import '../../common/styles/variables.css';

.root,
.root * {
	box-sizing: border-box;
}

.root {
	display: inline-block;
	width: var(--form-field-width);
}

.input {
	border: 1px solid var(--dojo-shade-gray);
	padding: var(--input-padding);
	width: 100%;
}

.input:focus {
	border-color: var(--dojo-light-blue);
	box-shadow: var(--input-focus-shadow);
	outline: none;
}

.arrow:after {
	content: '\1F557';
}

/* State classes */
.required {}

.disabled .input,
.readonly .input {
	background-color: var(--dojo-light-gray);
}

.invalid .input {
	border-color: var(--dojo-error-color);
}
.invalid .arrow {
	background-color: var(--dojo-error-color);
}
