.root {
	--example-background: var(--mdc-theme-surface);

	/* variables taken from @material/theme/dist/mdc.theme.css */
	--mdc-theme-primary: #6200ee;
	--mdc-theme-primary-on-dark: #bb86fc;
	--mdc-theme-secondary: #018786;
	--mdc-theme-background: #fff;
	--mdc-theme-surface: #fff;
	--mdc-theme-error: #b00020;
	--mdc-theme-on-primary: #fff;
	--mdc-theme-on-secondary: #fff;
	--mdc-theme-on-surface: rgba(0, 0, 0, 0.09);
	--mdc-theme-on-surface-hover: rgba(0, 0, 0, 0.13);
	--mdc-theme-on-error: #fff;
	--mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
	--mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
	--mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
	--mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
	--mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
	--mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
	--mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
	--mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
	--mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
	--mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
	--mdc-theme-text-primary-on-dark: white;
	--mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
	--mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
	--mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
	--mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);

	--mdc-text-color: var(--mdc-theme-text-primary-on-light);
	--mdc-secondary-text-color: var(--mdc-theme-text-secondary-on-light);
	--mdc-disabled-text-color: var(--mdc-theme-text-disabled-on-light);
	--mdc-raised-surface-background: var(--mdc-theme-surface);

	/* supplementary colours */
	--mdc-theme-info: #2196f3;
	--mdc-theme-alert: #ff5722;
	--mdc-theme-success: #4caf50;
	--mdc-theme-gold: #ffb400;

	/* layout */
	--mdc-theme-grid-base: 8px;
	--mdc-theme-border-radius: 4px;

	/* elevations */
	--mdc-theme-elevation-1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
		0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	--mdc-theme-elevation-2: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
		0 3px 14px 2px rgba(0, 0, 0, 0.12);

	/* font details */
	--mdc-theme-font-family: Roboto, sans-serif;
	--mdc-theme-font-size-small: 0.875rem;

	/* borders */
	--mdc-border-color: rgba(0, 0, 0, 0.38);
	--mdc-solid-border-color: #9e9e9e;
	--mdc-border-color-hover: rgba(0, 0, 0, 0.25);
	--mdc-solid-border-color-hover: #bfbfbf;
	--mdc-border-width: 1px;

	/* avatar sizes */
	--mdc-avatar-size-small: 24px;
	--mdc-avatar-size-medium: 40px;
	--mdc-avatar-size-large: 56px;

	/* transitions */
	--mdc-transition-duration: 0.25s;
	--mdc-transition-easing: ease;
	--mdc-medium-transition-duration: 0.5s;

	/* Two column layout */
	--mdc-divider-width: 9px;

	/* Checkbox */
	--mdc-checkbox-background-enabled: transparent;
	--mdc-checkbox-background-checked: var(--mdc-theme-secondary);
	--mdc-checkbox-check: var(--mdc-theme-surface);

	/* Extras */
	--mdc-theme-background-active: #f1f1f1;
	--mdc-theme-background-selected: #e1e1e1;

	--mdc-theme-heading-font-weight: 500;
	--mdc-theme-separator: #e0e0e0;

	--mdc-font-size-small: 14px;
	--mdc-disabled-color: #bbb;

	--mdc-tab-background: var(--mdc-theme-surface);
	--mdc-tab-content-background: var(--mdc-tab-background);
	--mdc-tab-button-background: var(--mdc-tab-background);
	--mdc-tab-button-text-color: var(--mdc-secondary-text-color);
	--mdc-tab-button-active-text-color: var(--mdc-theme-primary);
	--mdc-tab-button-disabled-text-color: var(--mdc-disabled-text-color);

	--mdc-tooltip-background: #6d6d6d;
	--mdc-chip-background: var(--mdc-theme-on-surface);
	--mdc-chip-color: var(--mdc-text-color);
	--mdc-chip-background-hover: var(--mdc-theme-on-surface-hover);
	--mdc-snackbar-background: #333333;
	--mdc-fab-background: var(--mdc-theme-secondary);
	--mdc-fab-color: var(--mdc-text-color);

	--loader-size-small: 24px;
	--loader-size-medium: 36px;
	--loader-size-large: 48px;

	--mdc-list-item-selected-background: var(--mdc-theme-on-surface-hover);
	--mdc-list-item-selected-color: var(--mdc-text-color);
	--mdc-list-item-disabled-background: inherit;
	--mdc-list-item-disabled-color: var(--mdc-text-color);
	--mdc-list-item-active-background: var(--mdc-theme-on-surface);
	--mdc-list-item-active-color: var(--mdc-text-color);
	--mdc-list-item-hover-background: var(--mdc-theme-on-surface);
	--mdc-list-item-hover-color: var(--mdc-text-color);
	--mdc-vstack-padding: calc(var(--grid-base), 3);
	--mdc-vstack-spacing-extra-small: calc(var(--grid-base), 0.5);
	--mdc-vstack-spacing-small: var(--grid-base);
	--mdc-vstack-spacing-medium: calc(var(--grid-base), 1.5);
	--mdc-vstack-spacing-large: calc(var(--grid-base), 2);
	--mdc-vstack-spacing-extra-large: calc(var(--grid-base), 2.5);

	--mdc-hstack-padding: calc(var(--grid-base), 3);
	--mdc-hstack-spacing-extra-small: calc(var(--grid-base), 0.5);
	--mdc-hstack-spacing-small: var(--grid-base);
	--mdc-hstack-spacing-medium: calc(var(--grid-base), 1.5);
	--mdc-hstack-spacing-large: calc(var(--grid-base), 2);
	--mdc-hstack-spacing-extra-large: calc(var(--grid-base), 2.5);
}
