.star:hover {
	background: #ccc;
}

.star {
	border-bottom: 1px solid transparent;
	color: black;
}

.root .filled,
.root .empty,
.black {
	color: black;
}

.selectedStar {
	border-bottom: 1px solid #369;
}
