.root {
	width: 100%;
	height: 100%;
}

.table {
	width: 100%;
	border: 1px solid gray;
}

.head,
.foot {
	background-color: lightgray;
}

.body {
	overflow-y: scroll;
	display: block;
}

.row,
.headerRow {
	width: 100%;
	display: flex;
	box-sizing: border-box;
	border-bottom: 1px solid gray;
}

.head {
	border-bottom: 1px solid gray;
	overflow-y: scroll;
}

.foot {
	border-top: 1px solid gray;
	padding: 4px;
}

.sortable {
	cursor: pointer;
}

.headerRow {
	border-bottom: none;
}

.body .row:last-child {
	border-bottom: none;
}

.cell {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cell,
.headerCell {
	border-right: 1px solid gray;
	flex: 1 100%;
	padding: 4px;
	box-sizing: border-box;
}

.cell:last-child,
.headerCell:last-child {
	border-right: none;
}

.wrapper {
	overflow: hidden;
	will-change: transform;
	position: relative;
}

.transformer {
	will-change: transform;
}
