@import '../../common/styles/variables.css';

.root {
	border: 1px solid var(--component-color);
	background: var(--component-background);
}
.option {
	cursor: pointer;
}

.focused .activeOption,
.root:focus .activeOption {
	background-color: var(--selected-background);
	color: var(--selected-color);
}
.disabledOption {
	background-color: var(--disabled-color);
	cursor: default;
}
.selectedOption {
	background-color: var(--selected-background);
	color: var(--selected-color);
}
