.listFixed {
	align-items: center;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.listItemFixed {
	align-items: center;
	display: flex;
}

.listItemFixed::before {
	content: '/';
}

.listItemFixed:first-child::before {
	display: none;
}
