.listFixed {
	align-items: center;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.listItemFixed {
	align-items: center;
	display: flex;
}

.labelFixed {
	align-items: center;
	display: inline-flex;
}
