/* The root class for the button ensures button-like behavior */
.root {
	cursor: pointer;
	display: inline-block;
	padding: 10px;
}

/* indicates that the button has been pressed */
.pressed::before {
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	box-sizing: border-box;
	content: '';
	display: inline-block;
	height: 1em;
	margin: -1em 0.5em 0 0;
	transform: rotate(45deg);
	width: 0.5em;
}

.popup {
}

/* Addded to a disabled button */
.disabled,
.disabled:hover {
	cursor: default;
}

/* The button label */
.label {
}
