@import './variables.css';

.root {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 200px;
}

.controls {
	position: relative;
}

.dropdown {
	border: 1px solid var(--component-color);
	background: var(--component-background);
	position: absolute;
	width: 100%;
	z-index: var(--zindex-dropdown);
}

.clear,
.trigger {
	position: absolute;
	cursor: pointer;
	border: none;
	background: none;
	top: 0.5rem;
	transform: translateY(-50%);
	padding: 0;
}

.trigger {
	right: 7px;
}

.clear {
	right: 27px;
}

.focused {
}
.valid {
}
.invalid {
}
.open {
}
.clearable {
}
