@import './variables.css';

.root {}

.main {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--component-background);
	width: 450px;
	overflow: hidden;
	outline: none;
	max-width: calc(100% - 30px);
	z-index: calc(var(--zindex-dialog) + 1);
}

.title {
	position: relative;
}

.open {

}

.close {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 35px;
	cursor: pointer;
	font-size: 0;
	border: none;
	background: none;
}

.closeIcon {
	font-size: 14px;
}

.content {}

.underlayVisible {
	background: var(--underlay-background);
	z-index: var(--zindex-dialog);
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.enter,
.underlayEnter {
	animation-duration: var(--short-animation-duration);
	animation-fill-mode: both;
	animation-name: fadeIn;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.exit,
.underlayExit {
	animation-duration: var(--short-animation-duration);
	animation-fill-mode: both;
	animation-name: fadeOut;
}
