/* The root class for FileUploadInput */
.root {
	border: 2px dashed transparent;
}

/* Applied to the root node if a DnD operation is in progress */
.dndActive {
	border-color: hsl(210, 29%, 60%);
}

/* Applied to the root node if the widget is disabled */
.disabled {
	cursor: no-drop;
}

.dndOverlay {
	background-color: var(--selected-background);
	opacity: 0.25;
}

/* The text label in the DnD area if DnD is allowed */
.dndLabel {
	margin-left: 8px;
}
