/* The root class for FileUploader */
.root {
	position: relative;
}

/* Applied to the root node if the widget is disabled */
.disabled {
}

.dndOverlay {
	background-color: var(--selected-background);
	border: 2px outset var(--selected-background);
	height: 100%;
	left: 0;
	opacity: 0.3;
	position: absolute;
	top: 0;
	width: 100%;
}

/* Container for each item representing an added file */
.fileItem {
	display: flex;
	flex-direction: row;
}

/* The name of each added file (child of .fileItem) */
.fileItemName {
	flex-grow: 1;
}

/* Close icon button rendered for each file (child of .fileItem) */
.closeButton {
	border: none;
	background: transparent;
	cursor: pointer;
	padding-top: 2px;
}
