/* Root class of the form */
.root {
}

/* Root class of form groups */
.groupRoot {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/* Root class of colum form groups */
.column {
	flex-direction: column;
}

/* Root class of row form groups */
.row {
}

/* Root class of form fields within a group */
.fieldRoot {
	flex: 1;
	min-width: 160px;
}
