/* The root class of the grid Footer */
.root {
	background: var(--component-background);
	color: var(--component-color);
	padding: 2px 4px;
	border-left: 1px solid var(--component-color);
	border-right: 1px solid var(--component-color);
	height: 20px;
	box-sizing: border-box;
}
