@import './variables.css';

.root {
	border: 1px solid var(--component-color);
	border-top-style: none;
	border-right-style: none;
	padding: 2px 4px;
	align-items: center;
	min-width: 100px;
}

.input {
	background: var(--component-background);
	color: var(--component-color);
}

.edit {
	composes: visuallyHidden focusable from './base.m.css';
}
