/* The root class of the grid Header */
.root {
	border-left: 1px solid var(--component-color);
}

/* Contains the header cell for a column */
.cell {
	border: 1px solid var(--component-color);
	border-top-style: none;
	border-left-style: none;
	border-bottom-style: none;
	font-weight: 600;
	padding: 6px 4px;
	display: flex;
	align-items: center;
	flex-direction: column;
	user-select: none;
	min-width: 100px;
}

/* Added to a sortable column */
.sortable {
	cursor: pointer;
}

/* Added to a sorted column */
.sorted {
	color: var(--success-color);
}

/* Added to a column sorted in descending order */
.desc {
}

/* Added to a column sorted in ascending order */
.asc {
}

/* Added to the sort button */
.sort {
	margin-left: 4px;
	opacity: 0;
}

.sort:focus,
.sorted .sort {
	opacity: 1;
}

/* Added to the filter control */
.filter {
	margin-top: 4px;
	width: 100%;
	box-sizing: border-box;
	color: var(--component-color);
	padding: 2px 4px;
}

.filterInput {
	width: 100%;
}

.filterNoLabel {
}
