@import './variables.css';

.root {}

.cell {
	border: 1px solid var(--component-color);
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	font-weight: 600;
	padding: 6px 4px;
	display: flex;
	align-items: center;
	flex-direction: column;
	user-select: none;
	min-width: 100px;
}

.sortable {
	cursor: pointer;
}

.sorted {
	color: var(--success-color);
}

.desc {}

.asc {}

.sort {
	margin-left: 4px;
	opacity: 0;
}

.sort:focus,
.sorted .sort {
	opacity: 1;
}

.filter {
	margin-top: 4px;
	width: 100%;
	box-sizing: border-box;
	color: var(--component-color);
	padding: 2px 4px;
}
