/* The root class for the PlaceholderRow */
.root {
	line-height: 30px;
	border: 1px solid black;
	border-top: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	box-sizing: border-box;
	height: 30px;
}

/* Added to the loading row */
.loading {
	margin: auto;
	width: 16px;
	height: 16px;
	border: 3px solid var(--disabled-color);
	border-radius: 50%;
	border-top-color: var(--component-color);
	animation: spin 1s ease-in-out infinite;
	will-change: auto;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
