/* The root class of the grid's Cell */
.root {
	border: 1px solid var(--component-color);
	border-top-style: none;
	border-left-style: none;
	padding: 2px 4px;
	align-items: center;
	min-width: 100px;
}

/* Added to the input while editing */
.input {
	background: var(--component-background);
	color: var(--component-color);
}

/* Added to the edit button */
.edit {
	composes: visuallyHidden focusable from './base.m.css';
}
