@import './variables.css';

/* The root class of the Listbox */
.root {
	border: 1px solid var(--component-color);
	background: var(--component-background);
	max-height: 400px;
	overflow-y: auto;
	position: relative;
}

/* Added to a focused Listbox */
.focused {
}

/* Contains the ListboxOption */
.option {
	cursor: pointer;
}

/* Added to a focused ListboxOption */
.focused .activeOption,
.root:focus .activeOption {
	box-shadow: inset 0 0 1px 0 var(--component-background);
	outline: 4px auto var(--selected-background);
}
/* Added to a disabled ListboxOption */
.disabledOption {
	background-color: var(--disabled-color);
	cursor: default;
}
/* Added to a selected ListboxOption */
.selectedOption {
	background-color: var(--selected-background);
	color: var(--selected-color);
}
