/* The root class of the login form */
.root {
	padding: 10px;
}

/* Wrapping class around each field */
.field {
	margin-bottom: 10px;
}

/* Wrapping class around the forgot password link renderer */
.forgotPassword {
	margin-top: 10px;
}

/* Wrapping class around the register link renderer */
.register {
	margin-top: 10px;
}

/* Wrapping class around the login button */
.buttonHolder {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
