/* Root class of native select */
.root {
	font-size: var(--font-size-base);
	display: flex;
	flex-direction: column;
}

/* Class for select element */
.select {
	appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
	border: 1px solid var(--component-color);
	min-width: 100%;
}

/* Class for disabled select state */
.disabled {
	cursor: inherit;
}

.focused {
}

/* Wrapper class for native select and dropdown arrow */
.inputWrapper {
	display: inline-block;
	position: relative;
	min-width: 100%;
}

/* Class for dropdown arrow positioning */
.arrow {
	bottom: 0;
	position: absolute;
	right: 4px;
	top: 0;
	width: 1.5em;
	pointer-events: none;
}

/* Class for required select state */
.required {
}
