.root {
	composes: root from './text-input.m.css';
}

/**
The button that toggles password visibility
 */
.togglePasswordButton {
	min-width: unset;
	background: none;
	border: none;
}

.togglePasswordButton:hover,
.togglePasswordButton:focus {
	box-shadow: none;
}

.trailing {
	composes: trailing from './text-input.m.css';
}

.root .trailing {
	background: none;
}
