.root {
	composes: root from './text-input.m.css';
}

/* The button that toggles password visibility */
.toggleButtonRoot {
	composes: root from './button.m.css';
}

.root .toggleButtonRoot {
	min-width: unset;
	background: none;
	border: none;
}

.root .toggleButtonRoot:hover,
.root .toggleButtonRoot:focus {
	box-shadow: none;
}
