/* The root class of the Radio */
.root {
	display: block;
	position: relative;
}

/* Added to the input */
.input {
}
/* Contains the input element */
.inputWrapper {
}
/* Added to a checked radio */
.checked {
}
/* Added to a focused radio */
.focused {
}
/* Added to a disabled radio */
.disabled {
}
/* Added to a read-only radio */
.readonly {
}
/* Added to a required radio */
.required {
}
/* Added after the input */
.radioBackground {
	display: none;
}
/* Added after the input */
.radioOuter {
}
/* Added after the input but before the label */
.radioInner {
}

/* invalid style */
.invalid .inputWrapper::before {
	border-color: var(--error-color);
}
.invalid .inputWrapper::after {
	background-color: var(--error-color);
}

/* valid style */
.valid .inputWrapper::before {
	border-color: var(--success-color);
}
.valid .inputWrapper::after {
	background-color: var(--success-color);
}
