.root {
}

.label {
	overflow: visible;
}

.radioGroup {
	display: inline-block;
	border: 1px solid transparent;
}

.radio {
	padding: 0;
}

.partialCharacter {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}

.partialRadio {
	position: absolute;
	right: 0;
}

.characterWrapper {
	border: 1px solid transparent;
	display: inline-block;
	position: relative;
	overflow: hidden;
}

.characterFill {
	color: #fadb14;
}

/* Added to active items */
.active {
	border: 1px solid blue;
}

/* Added to disabled ratings group */
.disabled {
	opacity: 0.5;
}

/* Added to readonly ratings group */
.readOnly {
}
