.root {
}

.label {
}

.radio {
	padding: 0;
}

.partialCharacter {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.characterWrapper {
	display: inline-block;
	position: relative;
}

.characterFill {
	color: #fadb14;
}
