/* The root class for the Result widget. */
.root {
}

.statusIcon {
}

/* Contains the Result widget's action buttons */
.actions {
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* May be added to action buttons supplied by the actionsRenderer */
.actionButtons {
}

/* The wrapper around the main content section */
.content {
	display: flex;
	flex-direction: column;
}

/* Wrapper around the content child */
.contentWrapper {
}

/* Wrapper around the title and subTitle area */
.titleWrapper {
}

/* Applied to the title */
.title {
}

/* Applied to the subTitle */
.subTitle {
}
