@import './variables.css';

/* The root style for Select */
.root {
	display: flex;
	flex-direction: column;
}

.trigger {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: var(--component-background);
	border: 1px solid var(--component-color);
	font-size: inherit;
	min-height: 25px;
	min-width: 200px;
	position: relative;
	padding: 0 8px;
}

.value {
	flex-grow: 1;
	text-align: left;
}

/* Added to a placeholder select option (custom select only) */
.placeholder {
}

/* Added to the expand icon */
.arrow {
}

.menuWrapper {
	border: 1px solid var(--component-color);
}

.disabled .trigger,
.readonly .trigger {
	background-color: var(--disabled-color);
}

.valid .trigger {
	border-color: green;
}

.invalid .trigger {
	border-color: red;
}
