@import './variables.css';

.root {}

.slideIn,
.slideOut {
	transition: transform ease-in-out var(--short-animation-duration);
}

.underlayVisible {
	background: var(--underlay-background);
	z-index: var(--zindex-dialog);
}

.content { }

.open { }

.pane {
	background-color: var(--component-background);
	z-index: calc(var(--zindex-dialog) + 1);
}

.title {
	position: relative;
}

.close {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 35px;
	cursor: pointer;
	font-size: 0;
	border: none;
	background: none;
}

.closeIcon {
	font-size: 14px;
}

.left { }

.right { }

.top { }

.bottom { }
