@import './variables.css';

/* Added to the input */
.input {
}
/* The root class of TextInput */
.root {
}

.wrapper {
}

/* Contains the input element */
.inputWrapper {
}
/* Added to a disabled TextInput */
.disabled {
}
/* Added to a focused input */
.focused {
}
/* Added to a read-only input */
.readonly {
}
/* Added to a required input */
.required {
}
/* Added when the contents of the TextInput are invalid */
.invalid {
}
/* Contains leading content */
.leading {
}
/* Contains trailing content */
.trailing {
}
/* Added at the root when there is leading content */
.hasLeading {
}
/* Added at the root when there is trailing content */
.hasTrailing {
}

.label {
}

.helperTextWrapper {
}

.helperText {
}

/* Styles the helper text when the input is invalid */
.invalid .helperText {
	color: var(--error-color);
}

/* Styles the input when the input is invalid */
.invalid .input {
	border-color: var(--error-color);
}

/* Styles the input when the input is valid */
.valid .input {
	border-color: var(--success-color);
}
