@import './variables.css';

.input {
}
.root {
}
.inputWrapper {
}
.disabled {
}
.focused {
}
.readonly {
}
.required {
}
.invalid {
}
.leading {
}
.trailing {
}
.hasLeading {
}
.hasTrailing {
}

.invalid .helperText {
	color: var(--error-color);
}

.invalid .input {
	border-color: var(--error-color);
}

.valid .input {
	border-color: var(--success-color);
}
