@import './variables.css';

.root {
	box-sizing: border-box;
}

.root {
	display: inline-block;
}

.input:focus {
	outline: none;
}

/* State classes */
.disabled {}
.focused {}
.invalid {}
.readonly {}
.required {}
