/* The root class of the Tooltip */
.root {
}

/* Contains the content of the Tooltip */
.content {
}

/* Added to a top-aligned tip */
.top {
}

/* Added to a right-aligned tip */
.right {
}

/* Added to a left-aligned tip */
.left {
}

/* Added to a bottom-aligned tip */
.bottom {
}

.bottom .content {
	transform: translate(-50%, 100%);
}

.right .content {
	transform: translate(100%, -50%);
}

.left .content {
	transform: translate(-100%, -50%);
}

.top .content {
	transform: translate(-50%, -100%);
}
