/* Contains the actions of the Toolbar */
.actions {
	display: flex;
	flex-direction: row;
}

/* Added to a collapsed Toolbar */
.collapsed .actions {
	flex-direction: column;
}

/* Added to the menu button */
.menuButton {
}
/* The root class of the Toolbar */
.root {
}
/* Added to the heading */
.title {
}

/* Toggle toolbar icon */
.toggleIcon {
}
