@import '../../common/styles/variables.css';

.root {
	box-sizing: border-box;
	display: inline-block;
}

.root *, .root *:before, .root *:after {
	box-sizing: inherit;
}

/* Date grid */
.weekday, .date {
	padding: 10px 20px;
	text-align: center;
}

.weekday {
	color: var(--disabled-color);
	font-weight: normal;
	text-transform: uppercase;
}

.date {
	cursor: pointer;
}

.date:hover {
	background-color: var(--disabled-color); /* TODO: better hover color variable? */
}

.inactiveDate {
	background-color: var(--disabled-color);
}

.selectedDate {
	background-color: var(--selected-background);
	color: var(--selected-color);
}

.todayDate {}


























._datePicker { }
._topMatter { }
._monthTrigger { }
._yearTrigger { }
._controls { }
._previousMonth { }
._nextMonth { }
._monthGrid { }
._monthFields { }
._yearGrid { }
._yearFields { }
._monthRadio { }
._yearRadio { }
._monthRadioChecked { }
._yearRadioChecked { }
._monthRadioInput { }
._monthRadioLabel { }
._yearRadioInput { }
._yearRadioLabel { }
._monthTriggerActive { }
._yearTriggerActive { }
