@import '../../common/styles/variables.css';

/* TODO: move this somewhere else */
.visuallyHidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.root {
	box-sizing: border-box;
	display: inline-block;
}

.root *, .root *:before, .root *:after {
	box-sizing: inherit;
}

/* Calendar header styles */
.header {
	margin-bottom: 10px;
	position: relative;
	text-align: center;
	z-index: 2;
}

/* Previous/next month arrows */
.previousMonth,
.nextMonth {
	background: #fff;
	border: 4px solid var(--dojo-black);
	border-radius: 50%;
	cursor: pointer;
	height: 30px;
	position: absolute;
	top: 0;
	transition: border 0.2s ease;
	width: 30px;
}

.previousMonth {
	left: 0;
}

.nextMonth {
	right: 0;
}

.previousMonth::before,
.nextMonth::before {
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	content: "";
	display: block;
	position: relative;
	top: 1px;
	transition: border 0.2s ease;
}

.previousMonth::before {
	border-right: 10px solid var(--dojo-black);
	right: 1px;
}

.nextMonth::before {
	border-left: 10px solid var(--dojo-black);
	left: 1px;
}

.previousMonth:hover,
.previousMonth:focus,
.nextMonth:hover,
.nextMonth:focus {
	border-color: var(--dojo-light-blue);
	outline: none;
}

.previousMonth:hover::before,
.previousMonth:focus::before,
.nextMonth:hover::before,
.nextMonth:focus::before {
	border-left-color: var(--dojo-light-blue);
	border-right-color: var(--dojo-light-blue);
}

.currentMonthLabel {
	font-weight: bold;
	font-size: 16px;
	pointer-events: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: color 0.2s ease;
}

/* Month picker styles */
.monthPicker {
	perspective: 1000px;
}

/* Button to open month popup */
.monthTrigger {
	background-color: var(--dojo-shade-gray);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	height: 35px;
	transition: background 0.2s ease;
	width: 180px;
}

.monthTrigger:hover,
.monthTrigger:focus {
	background-color: var(--dojo-blue);
	outline: none;
}

.monthTrigger:hover ~ .currentMonthLabel,
.monthTrigger:focus ~ .currentMonthLabel {
	color: var(--dojo-white);
}

/* Month popup */
.monthPopup {
	background-color: var(--dojo-off-white);
	border: 3px solid var(--dojo-blue);
	border-top-width: 10px;
	left: 0;
	margin-top: 20px;
	padding: 10px 15px;
	position: absolute;
	width: 100%;
	transform: scale(1, 1) rotateX(0);
	transform-origin: center top;
	transition: all 0.3s ease-out;
}

.monthPopup::before {
	border-bottom: 20px solid var(--dojo-blue);
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	content: "";
	left: 50%;
	margin-left: -20px;
	position: absolute;
	top: -20px;
}

.monthPopupHidden {
	transform: scale(1, 0) rotateX(90deg);
	z-index: -1;
}

/* year spinner */
.spinner,
.spinnerNext,
.spinnerPrevious {
	display: inline-block;
	position: relative;
}

.spinner::after,
.spinnerNext::after,
.spinnerPrevious::after {
	content: "";
	position: absolute;
	left: 8px;
	right: 8px;
	transform: scale(0, 1);
	transition: all 0.2s ease-out;
}

.spinner {
	font-size: 24px;
	line-height: 1;
	padding: 0 8px;
}

.spinner::after {
	background: var(--dojo-black);
	bottom: -4px;
	height: 3px;
}

.spinner:focus {
	outline: none;
}

.spinner:focus::after {
	transform: scale(1, 1);
}

.spinnerPrevious,
.spinnerNext {
	color: var(--dojo-shade-gray);
	cursor: pointer;
	line-height: 24px;
	padding: 0 8px;
	vertical-align: text-bottom;
}

.spinnerPrevious::after,
.spinnerNext::after {
	background: var(--dojo-shade-gray);
	bottom: 0;
	height: 2px;
}

.spinnerPrevious:hover::after,
.spinnerNext:hover::after {
	transform: scale(1, 1);
}

/* Month picker radios */
.monthControl {
	border: 0;
	margin: 0;
	padding: 0;
}

.monthRadio {
	cursor: pointer;
	display: block;
	float: left;
	font-size: 12px;
	padding: 4px;
	text-align: center;
	text-transform: uppercase;
	width: 25%;
}

.monthRadio span {
	background: var(--dojo-off-white);
	display: block;
	padding: 6px 12px;
	position: relative;
	transition: background 0.25s ease;
}

.monthRadio:hover span {
	background: var(--dojo-light-blue);
}

.monthRadio input[type=radio]:checked ~ span {
	background: var(--dojo-blue);
	color: #fff;
	font-weight: bold;
}

.monthRadio input[type=radio]:focus ~ span:before {
	border: 1px solid #fff;
	bottom: 3px;
	content: "";
	left: 3px;
	position: absolute;
	right: 3px;
	top: 3px;
}

/* Date grid */
.weekday, .date {
	padding: 10px 20px;
	text-align: center;
}

.weekday {
	color: var(--dojo-shade-gray);
	font-weight: 400;
	text-transform: uppercase;
}

.date {
	font-size: 18px;
	font-weight: 100;
	position: relative;
	transition: all 0.2s ease;
}

.date:hover,
.date:focus {
	background-color: var(--dojo-light-blue);
	cursor: pointer;
	outline: none;
}

.inactiveDate {
	background-color: var(--dojo-off-white);
	color: var(--dojo-shade-gray);
}

.selectedDate {
	background-color: var(--dojo-blue);
	color: var(--dojo-off-white);
}

.selectedDate:focus {
	background-color: var(--dojo-blue);
	color: var(--dojo-off-white);
	position: relative;
}

.selectedDate:focus:before {
	border: 1px solid #fff;
	bottom: 3px;
	content: "";
	left: 3px;
	position: absolute;
	right: 3px;
	top: 3px;
}
